{% extends 'base.html' %}
{% load static %}

{% block content %}
<div id="errorimage">
    <div class="container">

        <div class="row text-center">
            <div class="margin-error">
                <h1 class="pt-5" id="error-h1">404</h1>
                <br>
                <h3>Sorry, the page you requested was not found.</h3>
                <br>
                <button class="white-button py-2 px-5">Return home</button>
            </div>
        </div>

    </div>
</div>

{% endblock %}