{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-lg">
    <div class="margin">
        <div class="row">
            <div class="col-12 col-md-10 offset-md-1">
                <div class="row d-flex justify-content-center">
                    <img id="care-banner" alt="Caring for houseplants"
                        src="https://res.cloudinary.com/code-institute-mojos-beans/image/upload/v1652186011/LovePlants/pexels-huy-phan-3290585_uweurj.jpg">

                </div>

                <h1 class="text-center pt-5">House plant care guide</h1>
                <h4 class="text-center">Grow thriving, healthy houseplants with the help of our care advice.</h4>

                <div class="row">
                    <p>Houseplants in general are relatively simply to look after. They don't require as much attention
                        as you might think, but it is worth paying attention to them. The colour of their leaves in
                        particular tells us a lot about their state of health!
                        Feel free to follow some of our handy tips for keeping them looking and
                        feeling healthy.</p>
                </div>
                <hr>

                <div class="row">
                    <div class="col-12 col-md-8 px-4">
                        <h4 class="text-center">Our tips for healthy plants</h4>

                        <h5 class="pt-4">Feed them</h5>
                        <img class="care-images" alt="Healthy plants require feeding"
                            src="https://res.cloudinary.com/code-institute-mojos-beans/image/upload/v1652206121/LovePlants/pexels-karolina-grabowska-4751975_muevij.jpg">
                        <p>If you don’t feed your house plants, they won’t thrive. Start feeding regularly, around three
                            months
                            after you’ve planted them, as the nutrients present in the compost start to deplete after
                            this time.
                            Use a liquid feed diluted in water, following the instructions on the bottle. Most
                            houseplants don’t
                            need feeding more than once every one to three months, between March and September. <a
                                href="https://www.gardenersworld.com/how-to/grow-plants/house-plant-care-guide/">Gardener's
                                World</a></p>
                        <hr>
                        <h5 class="pt-4">Know their water requirements</h5>
                        <img class="care-images" alt="Water houseplants"
                            src="https://res.cloudinary.com/code-institute-mojos-beans/image/upload/v1652188186/LovePlants/pexels-cottonbro-4503268_c8ndzk.jpg">
                        <p>More house plants die from overwatering than any other cause, so it’s important to know when
                            and how to keep your plants hydrated. Over-watered plants effectively die from suffocation,
                            as the compost becomes so wet the roots can’t absorb oxygen. You can water your house plants
                            by using a watering can to drench the compost from above, or by filling a saucer placed
                            beneath the pot, so the water gradually percolates up through the compost. <a
                                href="https://www.gardenersworld.com/how-to/grow-plants/house-plant-care-guide/">Gardener's
                                World</a> </p>

                        <hr>
                        <h5 class="pt-4">Dust their leaves</h5>
                        <img class="care-images" alt="Healthy shiny leaves"
                            src="https://res.cloudinary.com/code-institute-mojos-beans/image/upload/v1652206113/LovePlants/pexels-cottonbro-5903818_jxoswt.jpg">
                        <p>It’s important to remove dust from house plant leaves. Not only does dusting improve the
                            appearance of house plants, but it helps with photosynthesis, too. Gently rub leaves with a
                            damp cloth, supporting them from below to prevent tearing. Alternatively, pop your dusty
                            plants in the shower and spray them with lukewarm water. <a
                                href="https://www.gardenersworld.com/how-to/grow-plants/house-plant-care-guide/">Gardener's
                                World</a></p>
                    </div>

                    <div class="col-12 col-md-4 px-4">
                        <h4 class="text-center">Other useful sources</h4>

                        <a rel="noopener" target="_blank" href="https://www.thespruce.com/"><img class="link-images" alt="https://www.thespruce.com/"
                                src="https://res.cloudinary.com/code-institute-mojos-beans/image/upload/v1652205543/LovePlants/thespruce_zj1gzv.jpg"></a>
                        <h5 class="text-center"><a rel="noopener" target="_blank" href="https://www.thespruce.com/">The Spruce | Home and Garden</a>
                        </h5>
                        <p>We love <strong>The Spruce</strong>! Their website is rich with information about how to care
                            for houseplants.
                        </p>

                        <a rel="noopener" target="_blank" href="https://www.gardeningknowhow.com/"><img class="link-images"
                                alt="https://www.thespruce.com/"
                                src="https://res.cloudinary.com/code-institute-mojos-beans/image/upload/v1652205698/LovePlants/garedeningknowhow_zepqz1.jpg"></a>
                        <h5 class="text-center"><a rel="noopener" target="_blank" href="https://www.gardeningknowhow.com/">Gardening Know How</a></h5>
                        <p>We can definitely recommend <strong>Gardening Know How</strong>, especially if you have
                            difficult to care for
                            plants. They have professionals who can answer any questions you may have.</p>

                        <a rel="noopener" target="_blank" href="https://www.gardenersworld.com/"><img class="link-images"
                                alt="https://www.gardenersworld.com/"
                                src="https://res.cloudinary.com/code-institute-mojos-beans/image/upload/v1652206606/LovePlants/gardenersworld_yt2vz9.jpg"></a>
                        <h5 class="text-center"><a rel="noopener" target="_blank" href="https://www.gardenersworld.com/">Gardener's World</a></h5>
                        <p>We couldn't forget <strong>Gardener's World</strong>. They offer high quality advice for both
                            indoor and outdoor plants. We recommend subscribing to their newsletter too. </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}