{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="margin">
        <div class="row d-flex justify-content-center">
            <img style="height: 70vh;" alt="Caring for houseplants"
            src="https://res.cloudinary.com/code-institute-mojos-beans/image/upload/v1652186011/LovePlants/pexels-huy-phan-3290585_uweurj.jpg">

        </div>

        <h1 class="text-center pt-5">House plant care guide</h1>
        <h4 class="text-center">Grow thriving, healthy houseplants with the help of our care advice.</h4>
        
        <div class="row">
            <div class="col-8">

            </div>
            <div class="col-4">

            </div>
        </div>

        <div class="row">
            <div class="col-8">

            </div>
            <div class="col-4">

            </div>
        </div>
    </div>
</div>
{% endblock %}