{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="tscs-container">
    <div class="container">
        <div id="tscs-div" class="p-3 p-md-5 m-md-5">
            <h2 class="text-center">FAQs</h2>
            <h4 class="text-center">We hope we can answer some of your questions here.  If not, please get in touch with us.</h4>
            <br>

            <ul>
                <li>
                    <h4>Do you ship to my country?</h4>
                    <p>For orders from Love Plants, we ship to people in the UK: England, Northern Ireland, Republic of Ireland, Scotland and Wales.</p>
                </li>

                <li>
                    <h4>Can you ship to a PO Box box?</h4>
                    <p>No, we don’t ship to PO Box addresses.</p>
                </li>
            </ul>
    </div>
</div>
{% endblock %}