{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="tscs-container">
    <div class="container">
        <div id="tscs-div" class="p-3 p-md-5 m-md-5">
            <h2 class="text-center">FAQs</h2>
            <p class="text-center">We hope we can answer some of your questions here.<br> If not, please get in touch
                with
                us.</p>
            <p class="text-center"><i class="fa-solid fa-phone"></i> +44 0689 356874</p>
            <p class="text-center"><i class="fa-solid fa-envelope"></i> loveplants@example.com</p>
            <br>

            <ul class="list-group">
                <li class="list-group-item border-0">
                    <h4>Do you ship to my country?</h4>
                    <p>For orders from Love Plants, we ship to people in the UK: England, Northern Ireland, Republic of
                        Ireland, Scotland and Wales.</p>
                </li>

                <li class="list-group-item border-0">
                    <h4>Can you ship to a PO Box box?</h4>
                    <p>No, we don’t ship to PO Box addresses.</p>
                </li>

                <li class="list-group-item border-0">
                    <h4>Can I change my shipping address?</h4>
                    <p>No because we send our products out quickly, so your order may be on its way to you.</p>
                </li>

                <li class="list-group-item border-0">
                    <h4>If I place an order today, when will I get it?</h4>
                    <p>We’ll ship your order as soon as it’s available. We’ll send you a shipping confirmation email
                        with a tracking number so you’ll know when it’s on its way. Delivery usually takes 7-10 days.
                    </p>
                </li>

                <li class="list-group-item border-0">
                    <h4>Can you gift wrap my order?</h4>
                    <p>No, we don’t offer gift-wrapping. Plant are packaged very specifically and carefully to avoid
                        damage during transit.
                    </p>
                </li>

                <li class="list-group-item border-0">
                    <h4>How do I cancel my order?</h4>
                    <p>Please contact us as +44 0689 356874 via telephone or loveplants@example.com via email to cancel
                        your order.
                    </p>
                </li>

                <li class="list-group-item border-0">
                    <h4>What is your return and refund policy?</h4>
                    <p>We issue refunds on a case-by-case basis. If you’d like to return your order for a refund, please
                        email our Customer Service team at loveplants@example.com within 30 days of getting your order,
                        and include your 32-digit order reference
                        number.
                    </p>
                </li>

                <li class="list-group-item border-0">
                    <h4>What can I do if my order arrives damaged?</h4>
                    <p>We’re sorry your order arrived damaged. Please email our Customer Service team within 30 days of
                        getting your order, and include your order number.
                    </p>
                </li>

                <li class="list-group-item border-0">
                    <h4>What can I do if I don’t get an order confirmation email?</h4>
                    <p>Please check your email spam or junk folder in case your order confirmation is in there. If not,
                        please email our Customer Service team and include your order number.
                    </p>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}