{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="row pt-5">
    <div class="order-md-first order-last col-12 col-md-6 bg-light m-0 p-md-5 mt-md-3">
        <div class="p-5 p-md-3 p-xl-5 mx-xl-5">
            <div class="m-xl-5">
                <h1 class="py-4">Love Plants</h1>
                <h5>We sell a large selection of houseplants to help <strong>make your home beautiful</strong>
                </h5>
            </div>

            <div class="row mx-3 mt-4 py-4 d-flex justify-content-center">
                <div class="col-12 col-xxl-6">
                    <button onClick="location.href='{% url 'products' %}?popular'"
                        class="w-75 w-lg-100 my-3 py-3 index-button bg-light">
                        Popular plants
                    </button>
                </div>
                <div class="col-12 col-xxl-6 ">
                    <button onClick="location.href='{% url 'products' %}?rare'"
                        class=" w-75 w-lg-100 my-3 py-3 index-button bg-light">
                        Rare plants
                    </button>
                </div>
            </div>

        </div>
    </div>
    <div class="order-md-last order-first col-12 col-md-6 m-0 p-0" id="index-image">
    </div>
</div>

<div class="text-center row px-sm-5 py-5 mx-lg-5 d-flex justify-contents-evenly">
    <h1 class="py-4">Why Love Plants?</h1>
    <div class="col-12 col-md-4 p-3">
        <img src="https://res.cloudinary.com/code-institute-mojos-beans/image/upload/v1651655259/flower-pot_3_rp5bfx.png"
            alt="Variegated species plant">

        <p class="pt-3"><strong>Variegated species</strong> are our speciality, we guarantee you'll find your
            next obsession here</p>
    </div>
    <div class="col-12 col-md-4 p-3">
        <img src="https://res.cloudinary.com/code-institute-mojos-beans/image/upload/v1651655769/plant-pot_dmf65f.png"
            alt="Large selection of houseplants">

        <p class="pt-3"><strong>Huge variety</strong> From common, easy to care for plants, to <strong>exotic</strong>
            and <strong>unique</strong> plants
            which stand out from the crowd</p>
    </div>
    <div class="col-12 col-md-4 p-3">
        <img src="https://res.cloudinary.com/code-institute-mojos-beans/image/upload/v1651655654/ecology-and-environment_1_cke84b.png"
            alt="High quality care and delivery">

        <p class="pt-3"><strong>Quality delivery</strong> We are meticulous about packaging your plants to ensure
            they arrive to you as <strong>healthy</strong> and <strong>high quality</strong> as when they leave our
            nursery.</p>
    </div>
</div>

<div class="row mx-xl-5">
    <div class="order-md-first order-first col-12 col-md-6 m-0 p-5" id="index-image2">
    </div>

    <div class="order-md-last order-last col-12 col-md-6 m-0 p-0 bg-light">
        <div class="p-5 mx-lg-5">
            <h1 class="py-4">Decorate your home with houseplants from around the world</h1>

            <p>Houseplants add a <strong>natural beauty</strong> to your home, and can bring any room to life. You can
                choose larger floor plants
                for instant impact, or scatter smaller potted plants amongst your personal items for bursts of
                <strong>natural colour</strong>
            </p>
            <br>
            <p>We stock houseplants from around the world, from simple ferns which love cooler climates, to more exotic
                numbers such as the Pothos plant, which originate from warm, misty rainforests</p>
            <br>
            <p>Look for the light and water requirements we provide with each houseplant, to understand if it is right
                for your environment. Or .. choose our <strong>easy to care for plants</strong> which are (almost)
                unkillable!</p>
        </div>
    </div>
</div>

<hr class="m-5 px-5">

<div class="row mx-xl-5">
    <div class="order-md-first order-last col-12 col-md-6 m-0 p-0 bg-light">
        <div class="p-5 mx-lg-5">
            <h1 class="py-4">Easy plant babies</h1>
            <p>We stock lots of <strong>easy to propagate</strong> plants to multiply your collection fast.</p>
            <br>
            <p>These plants produce lots of 'babies' or 'pups' which can be separated from the mother plant. Let the
                roots sit in water until the pup has established a strong enough root system to support itself.</p>
            <br>
            <p>Soon you'll have another strong, healthy plant which can be planted into it's own pot.</p>
            <br>
            <p>These plants really are the gift that keeps on giving. </p>
        </div>
    </div>
    <div class="order-md-last order-first col-12 col-md-6 m-0 p-5" id="index-image3">
    </div>
</div>

<hr class="m-5">

<div class="row mx-xl-5">
    <div class="order-md-first order-last col-12 col-md-6 m-0 p-5" id="index-image4">
    </div>
    <div class="order-md-last order-first col-12 col-md-6 m-0 p-0 bg-light">
        <div class="p-5 mx-lg-5">
            <h1 class="py-4">Going on holiday?</h1>
            <p>Nobody wants to come home from a well-earned break to discover that half their beautiful plant collection
                has perished.</p>
            <br>
            <p>Look for <strong>low maintenance houseplants</strong> which even the most scatter-brained plant-lover
                cannot kill!</p>
            <br>
            <p>There are many plants which can survive, and even thrive, with significant neglect from their owner. In
                particular, <strong>succulents</strong> are a good choice because they do not cope with being regularly
                watered.</p>
            <br>
            <button onClick="location.href='{% url 'products' %}?plant_cats=Succulents'"
                class="w-50 w-lg-100 my-3 py-3 index-button bg-light">
                Succulents
            </button>
            <button onClick="location.href='{% url 'products' %}?easycare'"
                class="w-50 w-lg-100 my-3 py-3 index-button bg-light">
                Other easy care plants
            </button>
        </div>
    </div>
</div>

<hr class="m-5">

<div class="row m-5 d-flex justify-content-center">
    <div class="col-12 col-md-8 col-lg-6">

        <div id="mc_embed_signup" style="width: 100%;">
            <form
                action="https://herokuapp.us18.list-manage.com/subscribe/post?u=e82b0901877d74a6d6cc85d72&amp;id=b74b383235"
                method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
                target="_blank" novalidate>
                <div id="mc_embed_signup_scroll">
                    <h2 class="text-center">Sign up to receive the Love Plants news</h2>
                    <p class="text-center">Keep in touch with our sales, featured products, and new stock!</p>
                    <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
                    <div class="mc-field-group">
                        <label for="mce-EMAIL">Email Address <span class="asterisk">*</span>
                        </label>
                        <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
                    </div>
                    <div id="mce-responses" class="clear foot">
                        <div class="response" id="mce-error-response" style="display:none"></div>
                        <div class="response" id="mce-success-response" style="display:none"></div>
                    </div>
                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
                            name="b_e82b0901877d74a6d6cc85d72_b74b383235" tabindex="-1" value=""></div>
                    <div class="optionalParent">
                            <div class="col-12 d-flex justify-content-center">
                            <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe"
                                class="btn black-button mx-0">
                            </div>
                    </div>
                </div>
            </form>
        </div>
        <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
        <script type='text/javascript'>
            (function ($) {
                window.fnames = new Array();
                window.ftypes = new Array();
                fnames[0] = 'EMAIL';
                ftypes[0] = 'email';
                fnames[1] = 'FNAME';
                ftypes[1] = 'text';
                fnames[2] = 'LNAME';
                ftypes[2] = 'text';
                fnames[3] = 'ADDRESS';
                ftypes[3] = 'address';
                fnames[4] = 'PHONE';
                ftypes[4] = 'phone';
                fnames[5] = 'BIRTHDAY';
                ftypes[5] = 'birthday';
            }(jQuery));
            var $mcj = jQuery.noConflict(true);
        </script>

    </div>
</div>


{% endblock %}