{% extends 'base.html' %}
{% load static %}

{% block content %}

        <div id="index-banner">
            <!-- <div class="row d-flex align-items-center" style="height: 100%;">
                <div class="col d-flex justify-content-center">
                    <div>
                        <h3>Let's make your home beautiful</h3><br>
                        <button type="button" class="btn btn-lg btn-dark">SHOP PLANTS</button>
                    </div>
                </div>
                <div class="col"></div>
            </div> -->

</div>
{% endblock %}
