{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="margin">
        <h2>Checkout</h2>

        <div class="row py-3 pt-5">

            <!-- order form delivery and billing details -->
            <div class="col-12 col-lg-8 order-first">

                <div class="d-flex py-3 px-md-3 px-lg-5">
                    <hr class="flex-grow-1">
                    <h3 class="text-center px-2 px-md-3 px-xl-5">Your details</h3>
                    <hr class="flex-grow-1">
                </div>

                <form method="POST" action="#" class="form" id="checkout-form">
                    {% csrf_token %}

                    {% for field in order_form %}
                    <p>{{field}}</p>
                    {% endfor %}

                    <label for="save_info">Save Information</label>
                    <input id="save_info" type="checkbox">

                    <p><small>We will process your personal data in accordance with LovePlants <a><u>Privacy
                                    Notice</u></a></small></p>

                    <!-- <button id="checkout-form-submit" type="submit">Submit</button> -->
            </div>

            <!-- order summary and checkout button -->
            <div class="col-12 col-lg-4 order-last order-lg-2 sticky-lg-top">

                <div class="d-flex py-3 px-1">
                    <hr class="flex-grow-1">
                    <h3 class="text-center px-3">Order Summary</h3>
                    <hr class="flex-grow-1">
                </div>

                <table class="table table-borderless">
                    <tr>
                        <td class="text-start">Order value</td>
                        <td class="text-end">£ {{total}}</td>
                    </tr>
                    <tr>
                        <td class="text-start">Delivery</td>
                        <td class="text-end">£ {{delivery}}</td>
                    </tr>
                </table>
                <table class="table table-borderless fw-bold">
                    <tr>
                        <td class="text-start">Total</td>
                        <td class="text-end">£ {{grand_total}}</td>
                    </tr>
                </table>

                <div class="d-flex py-3 px-1">
                    <hr class="flex-grow-1">
                    <h3 class="text-center px-3">Pay</h3>
                    <hr class="flex-grow-1">
                </div>

                <div class="my-4">
                    <p class="mt-1">Card information</p>
                    <div class="py-2 form-control" id="stripe-element"></div>
                    <div id="card-error"></div>
                    <input type="hidden" value="{{ stripe_sk }}" name="stripe_sk">
                </div>

                <p class="text-center">We accept:</p>
                <h4 class="text-center">
                    <i title="Mastercard" class="fa-brands fa-cc-mastercard"></i>
                     <i title="American Express" class="fa-brands fa-cc-amex"></i> 
                     <i title="Visa Debit/Credit" class="fa-brands fa-cc-visa"></i> 
                     <i title="Paypal" class="fa-brands fa-cc-paypal"></i>
                    <i title="Amazon Pay" class="fa-brands fa-cc-amazon-pay"></i> 
                    <i title="Apple Pay" class="fa-brands fa-cc-apple-pay"></i></h4><br>

                <button id="checkout-form-submit" type="submit" class="black-button">Secure Checkout &nbsp;<i
                        class="fa-solid fa-lock"></i></button>
                <br>
                <br>
                <p><small> By continuing, you agree to LovePlants <a><u>Terms and Conditions.</u></a>
                    </small></p>
                </form>
                <br>
                <p><small><i class="fa-solid fa-truck"></i> &nbsp; Delivery and Returns information</small></p>
                <p><small><i class="fa-solid fa-people-group"></i> &nbsp; Contact Customer Service for help</small></p>
            </div>

            <!-- list products in bag for reference -->
            <div class="col-12 col-lg-8 order-lg-3">

                <div class="d-flex py-3 px-md-3 px-lg-5">
                    <hr class="flex-grow-1">
                    <h3 class="text-center px-2 px-md-3 px-xl-5">Bag</h3>
                    <hr class="flex-grow-1">
                </div>

                {% for item in bag_items %}
                <div class="row py-2">
                    <div class="col-6 col-lg-3">
                        <a href="{% url 'product_detail' item.product.id %}"><img style="width: 150px; height: 150px;"
                                src="{{item.product.image1_source_url}}"></a>
                    </div>
                    <div class="col-6 col-lg-9">
                        <p class="fw-bold"><small>{{item.product.friendly_name}} &nbsp;<a
                                    href="{% url 'delete_bag' item.product.id %}"><i
                                        class="fa-solid fa-trash-can"></i></a></small></p>
                        <p><small>Price: £ {{item.product.price}}</small></p>
                        <p><small>Quantity: {{item.quantity}}</small></p>
                        <p><small>Subtotal: £ {{item.product_subtotal}}</small>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block postloadjs %}
{{ block.super }}

{{stripe_pk|json_script:"id_stripe_pk"}}
{{stripe_sk|json_script:"id_stripe_sk"}}

<script>
    // get keys from template
    var stripe_pk = document.getElementById('id_stripe_pk').textContent.slice(1, -1);
    var stripe_sk = document.getElementById('id_stripe_sk').textContent.slice(1, -1);

    // set up stripe element
    var stripe = Stripe(stripe_pk);
    var elements = stripe.elements();

    // set up card and mount card to DOM
    var card = elements.create('card');
    var stripe_div = document.getElementById('stripe-element');
    card.mount('#stripe-element');

    // add error message if card details invalid
    card.addEventListener('change', function (event) {
        var cardError = document.getElementById('card-error');
        if (event.error) {
            var error_message = `${event.error.message}`
            cardError.append(error_message)
            cardError.style.color = "red";
        } else {
            cardError.textContent = "";
        }
    })

    // submit the form
    var form = document.getElementById('checkout-form');
    form.addEventListener('submit', function (ev) {

        // prevent posting form
        ev.preventDefault();

        // disable card input and submit button
        card.update({
            'disabled': true;
        })
        checkoutSubmit = document.getElementById('checkout-form-submit');
        checkoutSubmit.disabled = true;

        // create variables to send to view
        var saveInfo = document.getElementById('save_info').checked;
        var csrfToken = document.getElementsByName('csrfmiddlewaretoken')[0].value;
        var url = '/checkout/cache_checkout_data/';
        var postData = {
            'stripe_sk': stripe_sk,
            'save_info': saveInfo,
        };

        // post save info to cache checkout view
        let response = fetch(url, {
            method: 'POST',
            body: JSON.stringify(postData),
            headers: {
                "X-CSRFToken": csrfToken
            }

            // if successful response    
        }).then(response => {
            console.log(response)
            // send payment to stripe
            stripe.confirmCardPayment(stripe_sk, {
                    payment_method: {
                        card: card,
                        billing_details: {
                            name: form.full_name.value.trim(),
                            phone: form.phone_num.value.trim(),
                            email: form.email.value.trim(),
                            address: {
                                line1: form.street_address_1.value.trim(),
                                line2: form.street_address_2.value.trim(),
                                city: form.town_or_city.value.trim(),
                                country: form.country.value.trim(),
                                state: form.county.value.trim(),
                            }
                        }
                    },
                    shipping: {
                        name: form.full_name.value.trim(),
                        phone: form.phone_num.value.trim(),
                        address: {
                            line1: form.street_address_1.value.trim(),
                            line2: form.street_address_2.value.trim(),
                            city: form.town_or_city.value.trim(),
                            country: form.country.value.trim(),
                            postal_code: form.postcode.value.trim(),
                            state: form.county.value.trim(),
                        }
                    }
                })
                .then(function (result) {

                    // if error in checkout to stripe
                    if (result.error) {
                        console.log(event)
                        var error_message = `${event.error.message}`;
                        cardError.append(error_message);
                        cardError.style.color = "red";

                        // re-enable submit and card
                        card.update({
                            'disabled': false;
                        })
                        checkoutSubmit.disabled = false;

                        // if no error in stripe checkout, submit form
                    } else {
                        if (result.paymentIntent.status === 'succeeded') {
                            form.submit();
                        }
                    }
                }).catch(error => {
                    location.reload();
                });
        })
    });
</script>
{% endblock %}