/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Raleway:wght@100;300;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');

/* -------- GENERAL -------- */
body {
    font-family: 'Raleway', sans-serif;
}

body h1 {
    font-weight: 700;
    font-family: 'Handlee', cursive;
}

.admin {
    background-color: #069b8e;
}

.admin:hover {
    background-color: #1caa9e;
}

.margin {
    margin-top: 150px;
}

a {
    text-decoration: none;
    color: black;
}

.anchor-no-decoration:hover {
    text-decoration: none !important;
}

a:hover {
    color: black;
    text-decoration: underline;
}

/* -------- BUTTONS -------- */
button {
    border-radius: 0 !important;
    border: white solid;
}

#add-to-bag:hover,
.black-button:hover,
.add-button:hover,
.admin-button:hover {
    background-color: white !important;
    color: black !important;
    border: solid 1px black !important;
}

.white-button:hover,
.hover-black:hover,
.index-button:hover {
    background-color: black !important;
    color: white;
}

.product-like-button {
    border: none;
    background: none;
    position: absolute;
    top: 3%;
    right: 5%;
    z-index: 1000;
    font-size: 20px;
}

.product-like-button2 {
    border: none;
    background: none;
}

.white-button {
    background-color: white;
    border: solid black 1px;
}

.index-button {
    border: solid black 1px;
}

#add-to-bag,
.black-button {
    text-align: center !important;
    border-radius: 0 !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    padding-left: 30px !important;
    padding-right: 30px !important;
    color: white;
    background-color: black;
    border: 1px solid black;
}

/* -------- NAV -------- */
#nav-image {
    width: 60px;
    height: 60px;
}

#navbar-main h2 {
    font-family: 'Handlee', cursive;
    color: white;
    padding: 0;
}

#navbar-main a {
    color: white;
}

#navbar-main {
    box-shadow: 0 5px 3px -3px rgb(177, 177, 177);
    z-index: 99999;
}

.navbar h3 {
    font-size: 30px;
}

#nav-search {
    padding-left: 10px;
    width: 100%;
}

#nav-search-button {
    padding: 0 0 0 0;
}

.navbar-toggler {
    color: white !important;
    padding: 0 0 0 0;
}

/* -------- NAV MQs -------- */
@media (max-width: 1200px) {
    #nav-icon {
        display: none;
    }
}

@media (max-width: 768px) {
    #nav-image {
        display: none;
    }
}

/* -------- HOMEPAGE/INDEX -------- */
#index-image {
    background-image: url('https://res.cloudinary.com/code-institute-mojos-beans/image/upload/v1648229681/LovePlants/Media/pexels-madison-inouye-1382392_n8gajn.jpg');
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 50vh;
}

#index-image2 {
    background-image: url('https://res.cloudinary.com/code-institute-mojos-beans/image/upload/v1648205969/LovePlants/Media/pexels-maria-orlova-4940808_q6vawi.jpg');
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 50vh;
}

#index-image3 {
    background-image: url('https://res.cloudinary.com/code-institute-mojos-beans/image/upload/v1651664019/LovePlants/thehealthyhouseplant_lq7fkh.jpg');
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 50vh;
}

/* -------- ALL PRODUCTS -------- */
#stock-span {
    color: #069b8e;
}

.card-img-top {
    height: 320px;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;
}

.card-img-top:hover {
    opacity: 0.6;
}

#product-out-of-stock {
    opacity: 0.2;
}

#oos-image-banner {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bolder;
}

#product-like {
    position: absolute;
    top: 3%;
    right: 5%;
    z-index: 9999;
    font-size: 20px;
}

.like-icon {
    position: relative;
    height: 24px;
    width: 24px;
    padding: 0;
}

.like-icon i {
    position: absolute;
    z-index: -99
}

.extra-filter {
    width: 60%;
}

.btn-outline-secondary {
    width: 100%;
}

.filter {
    color: orange;
}

.card-body {
    padding-left: 0 !important;
    line-height: 10px;
}

/* -------- PRODUCT DETAIL -------- */
.detail_image {
    height: 400px;
    width: 100%;
}

.product_detail_alt_img {
    width: 100%;
    height: 150px;
}

.product_detail_alt_img:hover {
    opacity: 0.6;
}

#product-detail-add {
    box-shadow: 0 0 2px 1px rgb(238, 235, 235) !important;
    position: fixed;
    bottom: 0;
}

.qty_input,
#add-to-bag {
    width: 90%;
}

input[type=submit] {
    background-color: black;
    color: white;
    border: none;
}

[type=radio] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

input[type=checkbox]:checked {
    accent-color: #069b8e !important;
}

/* -------- BAG -------- */
#bag-table-line {
    border-top: grey solid 1px;
}

.add-button {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 9999;
    padding: 5px 20px;
    width: auto !important;
    border-radius: 0 !important;
    background-color: black !important;
    color: white !important;
    border: solid black 1px !important;
    font-size: 13px;
}

.bag-images {
    height: 150px;
    width: 100%;
}

.free-delivery-products {
    position: relative;
}

.free-delivery-img {
    position: relative;
    height: 300px;
    width: 100%;
}

input[type=number] {
    border: 1px solid #ced4da;
    background-color: rgb(255, 255, 255);
}

/* -------- TOASTS -------- */
.toast {
    position: absolute;
    top: 90px;
    right: 10px;
    z-index: 9999;
    max-height: 80vh;
    overflow-y: scroll;
    background-color: white;
    opacity: 1;
}

.toast-hr {
    width: 80%;
    margin-left: 10%;
}

/* -------- CHECKOUT -------- */
#checkout-form-submit {
    width: 80%;
    margin-left: 10%;
    text-align: center !important;
}

#checkout-form-save {
    width: 80%;
    margin-left: 10%;
    text-align: center !important;
}

.loader-div {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99999;
    background-color: white;
    opacity: 0.9;
}

/* -------- 3rd party library code starts -------- */
/* https://www.w3schools.com/howto/howto_css_loader.asp */
.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin-top: calc(50vh - 60px);
    margin-left: calc(50vw - 60px);
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* -------- 3rd party library code end -------- */

/* -------- ACCOUNTS -------- */
.account-container {
    border-radius: 5px;
}

.account-row {
    padding-top: 100px;
}

.account-container input {
    width: 100%;
    margin-top: 10px;
    border: white;
    padding: 15px;
}

.account-container input:focus {
    outline: black 1px solid;
}

/* -------- 404 -------- */
#errorimage {
    background-image: url('https://res.cloudinary.com/code-institute-mojos-beans/image/upload/v1650308742/LovePlants/pexels-sohail-nachiti-807598_wjmwb8.jpg');
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

.margin-error {
    margin-top: calc(50vh - 150px);
}

#error-h1 {
    font-size: 70px;
}

/* -------- ADMIN ADD PRODUCT -------- 
3rd party library code starts
https://www.w3schools.com/howto/howto_css_overlay.asp */
#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    cursor: pointer;
}

/* -------- 3rd party library code ends -------- */

/* ---------------- MEDIA QUERIES ---------------- */

/* PROFILES MQs */
@media (max-width: 768px) {
    #profile-collapse-headers {
        display: none;
    }
}

/* CHECKOUT MQs */
@media (min-width: 768px) {
    #checkout-button {
        width: 100%;
        margin-left: 0;
        font-size: 15px;
    }
}

@media (min-width: 1400px) {
    #checkout-form {
        width: 70%;
        margin-left: 15%;
    }
}

/* PRODUCT DETAIL MQs */
@media (min-width: 576px) {
    #product-detail-add {
        position: relative;
        box-shadow: 0 0 0 0 white !important;
    }

    .qty_input,
    #add-to-bag {
        width: 100% !important;
    }
}

@media (min-width: 768px) {

    .detail_image {
        height: 500px;
    }
}

@media (min-width: 1200px) {

    .detail_image {
        height: 600px;
    }
}

@media (min-width: 1400px) {

    .qty_input,
    #add-to-bag {
        width: 60% !important;
    }
}

/* PRODUCTS MQs */
@media (min-width: 576px) {
    .extra-filter {
        width: 100%;
    }
}

@media (min-width: 1400px) {
    .extra-filter {
        width: 90%;
    }

    .products-container {
        width: 75%;
    }
}

/* BAG MQs */
@media (min-width: 576px) {
    .bag-images {
        height: 200px;
    }
}

@media (min-width: 1200px) {
    .bag-images {
        height: 300px;
    }
}