/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Raleway:wght@100;300;500;700;900&display=swap');


/* GENERAL */
body {
    font-family: 'Raleway', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    font-weight: bold;
    color: black;
}

button {
    text-align: left !important;
}

.black-button {
    border-radius: 0;
    background-color: black;
    color: white;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    padding-left: 30px !important;
    padding-right: 30px !important;
}

#add-to-bag:hover {
    background-color: white !important;
    color: black !important;
    border: solid 1px black !important;
}

#index-banner {
    height: calc(100vh - 90px);
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('https://res.cloudinary.com/code-institute-mojos-beans/image/upload/v1648231068/LovePlants/Media/pexels-content-pixie-2736497_nahpep.jpg')
}

.navbar {
    box-shadow: 0 0 1px rgb(177, 177, 177);
    font-family: 'Raleway', sans-serif;
}

.navbar h3 {
    font-size: 45px;
    letter-spacing: -3px;
}

/* IMAGES */
.bag-images {
    height: 150px;
    width: 100%;
}

@media (min-width: 576px) {
    .bag-images {
        height: 200px;
    }
}

@media (min-width: 1200px) {
    .bag-images {
        height: 300px;
    }
}

/* ALL PRODUCTS */
.card-img-top {
    height: 320px;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;
}

.card-img-top:hover {
    opacity: 0.6;
}

#product-out-of-stock {
    opacity: 0.2;
}

#oos-image-banner {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bolder;
}

#product-like {
    position: absolute;
    top: 3%;
    right: 5%;
    z-index: 9999;
    font-size: 20px;
}

#product-like-button {
    border: none;
    background: none;
    position: absolute;
    top: 3%;
    right: 5%;
    z-index: 9999;
    font-size: 20px;
}

.extra-filter {
    width: 60%;
}

.white-button {
    background-color: white;
    border: solid black 1px;
}

#add-to-bag {
    text-align: center !important;
    border-radius: 0 !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    padding-left: 30px !important;
    padding-right: 30px !important;
    color: white;
    background-color: black;
    border: 1px solid black;
}

.btn-outline-secondary {
    width: 100%;
}

.filter {
    color: orange;
}

.card-body {
    padding-left: 0 !important;
    line-height: 10px;
}

/* ALL PRODUCTS MEDIA QUERIES */

@media (min-width: 576px) {
    .extra-filter {
        width: 100%;
    }
}

@media (min-width: 1400px) {
    .extra-filter {
        width: 90%;
    }
}

/* PRODUCT DETAIL */
.detail_image {
    height: 400px;
    width: 100%;
}

.product_detail_alt_img:hover {
    opacity: 0.6;
}

#product-detail-add {
    box-shadow: 0 0 2px 1px rgb(238, 235, 235) !important;
    position: fixed;
    bottom: 0;
}

.qty_input,
#add-to-bag {
    width: 90%;
}

input[type=submit] {
    background-color: black;
    color: white;
    border: none;
}

/* PRODUCT DETAIL MEDIA QUERIES */

@media (min-width: 576px) {
    #product-detail-add {
        position: relative;
        box-shadow: 0 0 0 0 white !important;
    }

    .qty_input,
    #add-to-bag {
        width: 100% !important;
    }


}

@media (min-width: 768px) {

    .detail_image {
        height: 500px;
    }

}

@media (min-width: 1200px) {

    .detail_image {
        height: 600px;
    }

}

@media (min-width: 1400px) {

    .qty_input,
    #add-to-bag {
        width: 60% !important;
    }
}


/* BAG */

#bag-table-line {
    border-top: grey solid 1px;
}

.add-button {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 9999;
    width: auto !important;
    border-radius: 0 !important;
    background-color: white !important;
    color: black !important;
    border: solid black 1px !important;
    font-size: 13px !important;
}

.free-delivery-products {
    position: relative;
}

.free-delivery-img {
    position: relative;
    height: 300px;
    width: 100%;
}

input[type=number] {
    border: black 1px;
    background-color:rgb(255, 251, 251);
}

/* TOASTS */

.toast {
    position: absolute;
    top: 100px;
    right: 15px;
    z-index: 9999;
}

.toast-hr {
    width: 80%;
    margin-left: 10%;
}

/* CHECKOUT */

#checkout-button {
    width: 80%;
    margin-left: 10%;
    text-align: center !important;
}

#checkout-form-save {
    width: 80%;
    margin-left: 10%;
    text-align: center !important;
}


@media  (min-width: 756px) {
    #checkout-button {
        width: 100%;
        margin-left: 0;
        font-size: 15px;
    }
}

@media  (min-width: 1200px) {
    #checkout-button {
        font-size: 20px;
    }
}

@media  (min-width: 1400px) {
    #checkout-form {
        width: 70%;
        margin-left: 15%;
    }
}