@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');

/* body {
    max-height: 100vh;
    overflow: hidden;
} */

/* GENERAL */
a {
    text-decoration: none;
    color: black;
}

#index-banner {
    height: calc(100vh - 90px);
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('https://res.cloudinary.com/code-institute-mojos-beans/image/upload/v1648231068/LovePlants/Media/pexels-content-pixie-2736497_nahpep.jpg')
}

.navbar {
    box-shadow: 0 0 1px rgb(177, 177, 177);
}

.navbar h1 {
    font-family: 'Amatic SC', cursive;
    font-size: 55px;
    letter-spacing: 1px;
}

/* ALL PRODUCTS */
.card-img-top {
    height: 320px;
    image-rendering: -moz-crisp-edges;
    /* Firefox */
    image-rendering: -o-crisp-edges;
    /* Opera */
    image-rendering: -webkit-optimize-contrast;
    /* Webkit (non-standard naming) */
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;
}

.card-img-top:hover {
    opacity: 0.6;
}

#product-out-of-stock {
    opacity: 0.2;
}

#oos-image-banner {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bolder;
}

button {
    text-align: left !important;
}

/* PRODUCT DETAIL */
.detail_image {
    height: 400px;
    width: 100%;
}

.product_detail_alt_img:hover {
    opacity: 0.6;
}

/* MEDIA QUERIES */
@media (min-width: 768px) {
    
    .detail_image {
        height: 500px;
    }

}

@media (min-width: 1200px) {

    .detail_image {
        height: 600px;
    }

}