{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block inner_content %}
<div class="container">
    <div class="row">
        <div
            class="col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4 account-container bg-white my-5 p-4">
            <h3 class="my-3 text-center">{% trans "Change Password" %}</h3>

            <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
                {% csrf_token %}
                {{ form.oldpassword }}
                {{ form.password1 }}
                {{ form.password2 }}
                <br>
                <br>
                <button class="black-button w-100 text-center" type="submit"
                    name="action">{% trans "Change Password" %}</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}