{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block inner_content %}

<div class="container">
  <div class="margin">
    <div class="row">
      <div
        class="col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4 account-container bg-white my-5 p-4">
        <h3 class="my-3 text-center">{% trans "Create Account" %}</h3>

        <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
          {% csrf_token %}
          {{form}}
          <!-- {{ form.email }}
          {{ form.email2 }}
          {{ form.username }}
          {{ form.password1 }}
          {{ form.password2 }} -->
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          <br>
          <button class="my-4 black-button w-100 text-center" type="submit">{% trans "Sign Up" %}</button>
          <p class="text-center"><small>{% blocktrans %}Already have an account? <a href="{{ login_url }}">Sign
                in</a>.{% endblocktrans %}</small></p>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}