{% load static %}

<!doctype html>
<html lang="en">

<head>
  {% block meta %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% endblock %}

  {% block extrameta %}
  {% endblock %}

  {% block corecss %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
  {% endblock %}

  {% block extracss %}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap" rel="stylesheet">
  <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7_dtp.css" rel="stylesheet" type="text/css">
  {% endblock %}

  {% block corejs %}
  <script src="https://kit.fontawesome.com/fca1fab3a6.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
  </script>
  <script src="https://js.stripe.com/v3/"></script>
  {% endblock %}

  {% block extrajs %}
  {% endblock %}

  <title>Love Plants</title>
  <meta name="description" content="Explore a huge selection of beautiful, unique and breathtaking houseplants">
  <meta name="keywords" content="houseplants, exotic, beautiful, unique, rare,
   popular, online, huge selection, huge variety, affordable, indoor plants, must-have plants, variegated">
  <link rel="shortcut icon" href="{%  static 'media/favicon.png' %}">
</head>

<body>
  <header class="container-fluid fixed-top">

    <div id="navbar-main" class="row bg-dark align-items-center py-2">
      <div class="col-0 col-md-1">
        <a><img id="nav-image" src="{%  static 'media/web.png' %}" alt="Love Plants icon"><sup><i id="nav-icon"
              class="fa-regular fa-heart"></i></sup></a>
      </div>

      <div class="col-2 col-md-2 d-flex flex-row">
        <nav class="navbar navbar-expand-lg border-0">
          <button class="navbar-toggler ms-2" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <i class="fa-solid fa-bars"></i>
          </button>

          <div class="collapse navbar-collapse border-0" id="navbarSupportedContent">
            <ul class="list-group border-0 list-group-horizontal-lg">
              <li class="list-group-item p-0 bg-dark border-0">
                <a class="nav-link" aria-current="page" href="{% url 'home' %}">Home</a>
              </li>
              <li class="list-group-item p-0 bg-dark border-0">
                <a class="nav-link" aria-current="page" href="{% url 'products' %}">Store</a>
              </li>
              <li class="list-group-item p-0 bg-dark border-0">
                <a class="nav-link" aria-current="page" href="{% url 'care' %}">Care</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>

      <div class="col-5 col-sm-6 text-center align-items-center">
        <h2 class="pt-3">Love Plants</h2>
      </div>

      <div class="col-5 col-sm-4 col-md-3 pe-4 d-flex justify-content-end">
        <ul class="list-group list-group-horizontal me-md-3">
          {% if user.is_authenticated %}
          <li class="list-group-item bg-dark border-0 px-0">
            <a class="nav-link px-2" title="Logged in as {{request.user}}" aria-current="page"
              href="{% url 'profile' %}"><i class="fa-solid fa-user-check"></i></a>
          </li>
          <li class="list-group-item bg-dark border-0 px-0">
            <a class="nav-link px-2" title="Favourites" aria-current="page" href="{% url 'liked_products' %}"><i
                class="fa-solid fa-heart"></i></a>
          </li>
          {% else %}
          <li class="list-group-item bg-dark border-0 px-0">
            <a class="nav-link px-2" title="Log in" aria-current="page" href="{% url 'account_login' %}"><i
                class="fa-solid fa-user"></i></a>
          </li>
          <li class="list-group-item bg-dark border-0 px-0">
            <a class="nav-link px-2" title="Favourites" aria-current="page" href="{% url 'account_login' %}"><i
                class="fa-solid fa-heart"></i></a>
          </li>
          {% endif %}


          <li class="list-group-item bg-dark border-0 px-0">
            <a class=" text-center nav-link px-2" title="Basket: {{product_count}}" aria-current="page"
              href="{% url 'view_bag' %}">
              <i class="fa-solid fa-bag-shopping"></i><sup>&nbsp;{{product_count}}</sup></a>
          </li>
        </ul>
      </div>
    </div>

    {% if user.is_superuser %}
    <div class="row ">
      <div class="col-12 p-0 admin text-white">
        <p class="p-2 m-0 text-center"><i class="px-3 fa-solid fa-clipboard-user"></i> ADMIN PANEL: {{user}}</p>
      </div>
    </div>
    {% endif %}

  </header>

  {% if messages %}
  <div class="message-container">
    {% for message in messages %}
    {% with message.level as level %}
    {% if level == 40 %}
    {% include 'includes/toasts/toast_error.html' %}
    {% elif level == 30 %}
    {% include 'includes/toasts/toast_warning.html' %}
    {% elif level == 20 %}
    {% include 'includes/toasts/toast_info.html' %}
    {% else %}
    {% include 'includes/toasts/toast_success.html' %}
    {% endif %}
    {% endwith %}
    {% endfor %}
  </div>
  {% endif %}

  {% block page_header %}
  {% endblock %}

  {% block content %}
  {% endblock %}

  <footer class="bg-dark text-white px-4 pt-3 pb-0 mb-0 sticky-bottom">
    <div class="row">
      <div class="col-12 col-xl-8 offset-xl-2">

        <div class="row px-lg-5 align-items-center">
          <div class="col-12 col-sm-8">
            <h5 class="m-sm-0 p-sm-0">Connect with us on social media</h5>
          </div>
          <div class="col-12 col-sm-4 text-end d-flex justify-content-evenly">
            <a><i class="fa-brands fa-instagram"></i></a>
            <a rel="noopener" target="_blank" href="https://www.facebook.com/loveplantsstore/"><i class="fa-brands fa-facebook-f text-white"></i></a>
            <a><i class="fa-brands fa-twitter"></i></a>
            <a><i class="fa-brands fa-linkedin-in"></i></a>
          </div>
        </div>
        <hr>

        <div class="row pb-0">

          <div class="col-12 col-sm-6 col-lg-3 mx-auto mb-2 py-3 py-sm-0">
            <h4 id="footer-title">Love Plants</h4>
            <p>We sell houseplants online. <br>
              Explore a huge selection of beautiful, unique and breathtaking houseplants</p>
          </div>

          <div class="col-12 col-sm-6 col-lg-3 mx-auto mb-2 py-3 py-sm-0">
            <h6><u>OUR PRODUCTS</u></h6>
            <ul class="list-group bg-dark">
              <li class="list-group-item bg-dark border-0 px-0 py-1"><a class="text-white"
                  href="{% url 'products' %}?popular">Popular plants</a></li>
              <li class="list-group-item bg-dark border-0 px-0 py-1"><a class="text-white"
                  href="{% url 'products' %}?rare">Rare plants</a></li>
              <li class="list-group-item bg-dark border-0 px-0 py-1"><a class="text-white"
                  href="{% url 'products' %}?q=variegated">Variegated plants</a></li>
              <li class="list-group-item bg-dark border-0 px-0 py-1"><a class="text-white"
                  href="{% url 'products' %}?plant_cat=Potted">Potted plants</a></li>
            </ul>
          </div>

          <div class="col-12 col-sm-6 col-lg-3 mx-auto mb-2 py-3 py-sm-0">
            <h6><u>USEFUL LINKS</u></h6>
            <ul class="list-group bg-dark">
              <li class="list-group-item bg-dark border-0 px-0 py-1"><a class="text-white"
                  href="{% url 'ts_and_cs' %}">Terms & Conditions</a></li>
              <li class="list-group-item bg-dark border-0 px-0 py-1"><a class="text-white"
                  href="{% url 'privacy_policy' %}">Privacy Policy</a></li>
              <li class="list-group-item bg-dark border-0 px-0 py-1"><a class="text-white" href="{% url 'faq' %}">FAQ</a></li>

            </ul>
          </div>

          <div class="col-12 col-sm-6 col-lg-3 mx-auto mb-2 py-3 py-sm-0">
            <h6><u>CONTACT</u></h6>
            <ul class="list-group bg-dark">
              <li class="list-group-item bg-dark border-0 px-0 py-1 text-white"><i class="fa-solid fa-house"></i>
                Dunkeld, Scotland</li>
              <li class="list-group-item bg-dark border-0 px-0 py-1 text-white"><i class="fa-solid fa-envelope"></i>
                loveplants@example.com</li>
              <li class="list-group-item bg-dark border-0 px-0 py-1 text-white"><i class="fa-solid fa-phone"></i> +44
                0689 356874</li>
              <li class="list-group-item bg-dark border-0 px-0 py-1 text-white"><i class="fa-solid fa-fax"></i> +44 0689
                356874</li>
            </ul>
          </div>

        </div>
        <hr>

        <div class="row">
          <p class="text-center"><i class="fa-solid fa-copyright"></i> 2022 Copyright LovePlants.com</p>
        </div>

      </div>
    </div>

  </footer>

  {% block postloadjs %}
  <script>
    /*jshint esversion: 6 */

    // create toasts if there is a message notification
    var toastElList = [].slice.call(document.querySelectorAll('.toast'));
    var toastList = toastElList.map(function (toastEl) {
      return new bootstrap.Toast(toastEl);
    });
    toastList.forEach(toast => toast.show());
  </script>
  {% endblock %}

</body>

</html>