{% extends 'base.html' %}
{% load static %}

{% block content %}

<div id="overlay"></div>
<div class="container mb-5">
    <div class="margin">
        <div class="row">

            <div class="col-12">
                {% if saved %}
                <div class="row my-3">
                    <h4 class="text-center">Edit previously created products</h4>
                    {% for product in saved %}
                    <div class="col-6 col-sm-4 col-lg-3">
                        <a href="{% url 'edit_product' product.id %}"><img class="add-product-imgs"
                                src="{{product.image1_source_url}}">
                            <p>{{product.friendly_name}}</p>
                        </a>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
            </div>

            <h2>Add a product</h2>
            <hr>

            {% if error_fields %}
            <div class="row">
                <p class="text-danger">There was an error with the follow fields:</p>
                <ul class="text-danger list-group">
                    {% for error in error_fields %}
                    {% for error_msg in error_messages %}
                    <li class="text-danger list-group-item border-0">{{error|capfirst}} : {{error_msg}}</li>
                    {% endfor %}
                    {% endfor %}
                </ul>
            </div>
            {% endif %}

            <div class="col-12 col-lg-6">
                <form method="POST" action="{% url 'add_product' %}" id="add-form">
                    {% csrf_token %}

                    <!-- category -->
                    <fieldset>
                        <legend class="pt-5">Category</legend>

                        <div class="add-product-plant">
                            {{form.plant_category.label}}
                            {{form.plant_category}}
                        </div>

                        <div class="row text-center">
                            <div class="col">
                                <input type="checkbox" name="rare" value="true" id="{{form.rare.id_for_label}}"><br>
                                {{form.rare.label}} <i class="fa-solid fa-gem"></i>
                            </div>

                            <div class="col">
                                <input type="checkbox" name="popular" value="true"
                                    id="{{form.popular.id_for_label}}"><br>
                                {{form.popular.label}} <i class="fa-solid fa-bolt-lightning"></i>
                            </div>
                        </div>
                    </fieldset>

                    <!-- name, description -->
                    <fieldset>
                        <legend class="pt-5">General Information</legend>

                        <label>Name*</label>
                        <p><small><em>if plant is a variegated species, follow this format: 'Chinese Money Plant |
                                    variegated'</em></small></p>
                        {{form.friendly_name}}

                        {{form.latin_name.label}}
                        {{form.latin_name}}

                        {{form.description.label}}*
                        {{form.description}}

                        {{form.description_source.label}}
                        {{form.description_source}}

                        {{form.description_url.label}}
                        {{form.description_url}}
                    </fieldset>

                    <!-- images -->
                    <fieldset>
                        <legend class="pt-5">Images</legend>

                        <p><small><em>provide urls for up to 3 images from a cloud storage and the source of the image</em></small></p>

                        <div class="row">
                            <div class="col">
                                <label for="id_image1_source_url">Main image</label>
                                {{form.image1_source_url}}
                            </div>
                            <div class="col">
                                <label for="id_image1_source">Main image source</label>
                                {{form.image1_source}}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <label for="id_image2_source_url">2nd image</label>
                                {{form.image2_source_url}}
                            </div>
                            <div class="col">
                                <label for="id_image2_source">2nd image source</label>
                                {{form.image2_source}}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <label for="id_image3_source_url">3rd image</label>
                                {{form.image3_source_url}}
                            </div>
                            <div class="col">
                                <label for="id_image3_source">3rd image source</label>
                                {{form.image3_source}}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12 col-md-4">
                                <img class="id_image1_source_url add-product-imgs" 
                                    src="https://res.cloudinary.com/code-institute-mojos-beans/image/upload/v1652113723/LovePlants/product_image_thumbnail_placeholder_hfkkny.png"><br>
                                <p class="text-center"><em><small>main image</small></em></p>
                            </div>
                            <div class="col-12 col-md-4">
                                <img class="id_image2_source_url add-product-imgs"
                                    src="https://res.cloudinary.com/code-institute-mojos-beans/image/upload/v1652113723/LovePlants/product_image_thumbnail_placeholder_hfkkny.png">
                            </div>
                            <div class="col-12 col-md-4">
                                <img class="id_image3_source_url add-product-imgs"
                                    src="https://res.cloudinary.com/code-institute-mojos-beans/image/upload/v1652113723/LovePlants/product_image_thumbnail_placeholder_hfkkny.png">
                            </div>
                        </div>
                    </fieldset>

                    <!-- details -->
                    <fieldset>
                        <legend class="pt-5">Details</legend>

                        <div class="row">
                            <div class="col"><i class="pe-2 pb-3 fa-solid fa-whiskey-glass"></i>{{form.pot_size.label}}
                                {{form.pot_size}}</div>
                            <div class="col"><i class="pe-3 pb-3 fa-solid fa-ruler-vertical"></i> {{form.height.label}}
                                {{form.height}}</div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <i class="pe-3 fa-solid fa-seedling"></i> {{form.maturity_num.label}}
                                {{form.maturity_num}}
                            </div>
                            <div class="col">
                                {{form.maturity_time.label}}
                                {{form.maturity_time}}
                            </div>
                        </div>
                    </fieldset>

                    <!-- care -->
                    <fieldset>
                        <legend class="pt-5">Care</legend>
                        <p><small><em>provide sunlight, water and care requirements for this plant</em></small></p>

                        <!-- sunlight -->
                        <div class="row px-5 pb-5 text-center">
                            
                            <div class="col d-flex justify-content-center">
                                <label class="plant-sun" onclick="boldSelection(this);"
                                    for="{{form.sunlight.1.id_for_label}}"><i class="fa-solid fa-cloud"></i><br>
                                    1 - 2 h</label>
                                {{form.sunlight.1.tag}}
                            </div>
                            <div class="col d-flex justify-content-center">
                                <label class="plant-sun" onclick="boldSelection(this);"
                                    for="{{form.sunlight.2.id_for_label}}"><i class="fa-solid fa-cloud-sun"></i><br>
                                    4 - 7 hours</label>
                                {{form.sunlight.2.tag}}
                            </div>
                            <div class="col d-flex justify-content-center">
                                <label class="plant-sun" onclick="boldSelection(this);"
                                    for="{{form.sunlight.3.id_for_label}}"><i class="fa-solid fa-sun"></i><br>
                                    8 - 10 hours</label>
                                {{form.sunlight.3.tag}}
                            </div>
                        </div>


                        <!-- watering -->
                        <div class="row px-5 pb-5 text-center">
                           
                            <div class="col d-flex justify-content-center">
                                <label class="plant-water" onclick="boldSelection(this);"
                                    for="{{form.watering.1.id_for_label}}"><i class="fa-solid fa-droplet-slash"></i><br>
                                    water monthly</label>
                                {{form.watering.1.tag}}
                            </div>
                            <div class="col d-flex justify-content-center">
                                <label class="plant-water" onclick="boldSelection(this);"
                                    for="{{form.watering.2.id_for_label}}"><i class="fa-solid fa-droplet"></i><br>
                                    water weekly</label>
                                {{form.watering.2.tag}}
                            </div>
                            <div class="col d-flex justify-content-center">
                                <label class="plant-water" onclick="boldSelection(this);"
                                    for="{{form.watering.3.id_for_label}}"><i class="fa-solid fa-droplet"></i><i
                                        class="fa-solid fa-droplet"></i><br>
                                    water daily</label>
                                {{form.watering.3.tag}}
                            </div>
                        </div>

                        <!-- care -->
                        <div class="row px-5 pb-5 text-center">
                            <div class="col d-flex justify-content-center">
                                <label class="plant-care" onclick="boldSelection(this);"
                                    for="{{form.care_required.2.id_for_label}}"><i class="fa-solid fa-heart"></i><br>
                                    can stand a little neglect</label>
                                {{form.care_required.1.tag}}
                            </div>
                            <div class="col d-flex justify-content-center">
                                <label class="plant-care" onclick="boldSelection(this);"
                                    for="{{form.care_required.3.id_for_label}}">
                                    <i class="fa-solid fa-heart"></i><i class="fa-solid fa-heart"></i><i
                                        class="fa-solid fa-heart"></i>
                                    <br>requires regular care
                                </label>
                                {{form.care_required.2.tag}}
                            </div>
                        </div>

                        <div class="pt-4">
                            {{form.care_instructions.label}}
                            <p><small><em>provide further care instructions for this plant</em></small></p>
                            {{form.care_instructions}}

                            {{form.care_instructions_source.label}}
                            <p><small><em>provide a source for the care instructions if required</em></small></p>
                            {{form.care_instructions_source}}

                            {{form.care_instructions_url.label}}
                            <p><small><em>provide a source url for the care instructions if required</em></small></p>
                            {{form.care_instructions_url}}
                        </div>

                    </fieldset>

                    <!-- price, stock -->
                    <fieldset>
                        <legend>Price, Stock</legend>

                        {{form.price.label}}*
                        {{form.price}}

                        {{form.stock_quantity.label}}
                        {{form.stock_quantity}}
                    </fieldset>

                    <fieldset>
                        {{form.live_on_site.label}}
                        {{form.live_on_site}}
                    </fieldset>

                    <div class="row my-2">
                        <div class="col">
                            <button name="submit-form" class="btn admin w-100 text-white" onclick="validateForm();">Add product <i
                                    class="fa-solid fa-plus"></i></button>
                        </div>
                    </div>

                </form>
            </div>
        </div>

        <!-- modal -->
        <div class="modal" tabindex="-1" id="add-product-modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-danger">Form not valid</h5>
                        <button type="button" class="btn-close" id="close-modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>In order to create a product and add it to the site, all fields must be filled in.</p>
                        <p>The product can be saved and completed at a later date by clicking 'Save'.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}

{% block postloadjs %}
{{block.super}}
<script>
    /*jshint esversion: 6 */

    var i;
    var form = document.getElementById('add-form');
    var modal = document.getElementsByClassName('modal')[0];
    var closeModal = document.getElementById('close-modal');

    closeModal.onclick = function () {
        modal.style.display = "none";
        document.getElementById("overlay").style.display = "none";
    };

    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
            document.getElementById("overlay").style.display = "none";
        }
    };

    document.addEventListener('DOMContentLoaded', () => {
        document.getElementById('id_sunlight_2').checked = true;
        document.getElementById('id_sunlight_2').parentNode.style.color = '#069b8e';
        document.getElementById('id_watering_2').checked = true;
        document.getElementById('id_watering_2').parentNode.style.color = '#069b8e';
        document.getElementById('id_care_required_2').checked = true;
        document.getElementById('id_care_required_2').parentNode.style.color = '#069b8e';
    });

    /*
    Add style to form radio buttons when selected
    */
    function boldSelection(element) {
        var labels = document.getElementsByClassName(element.className);
        for (i = 0; i < labels.length; i++) {
            labels[i].style.color = 'black';
        }

        element.style.color = '#069b8e';
    }

    function uploadImage(element) {
        var src = element.value;
        var image_id = element.id;
        var pic = document.getElementsByClassName(element.id)[0];

        if (src == "") {
            pic.src =
                'https://res.cloudinary.com/code-institute-mojos-beans/image/upload/v1650718226/LovePlants/233-2332677_image-500580-placeholder-transparent_ydin0l.jpg';
        } else {
            pic.src = src;
        }
    }
</script>
{% endblock %}