{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container" style="margin-bottom: 100px;">
    <div class="margin">
        {% if user.is_superuser %}
        <h2>Create Sale</h2>
        <hr>
        <div class="row">
            <div class="col-4">
                <form method="POST" action="{% url 'create_sale' %}">
                    {% csrf_token %}
                    <button type="submit">Submit</button>
                    <table class="table">
                        <tbody>
                            {% for product in products %}
                            <tr>
                                <td><label for="{{product.id}}">{{product.friendly_name}}</label></td>
                                <td><input type="checkbox" name="{{product.id}}" value="{{product.id}}" id="{{product.name}}{{ product.id}}" checked><br></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </form>
            </div>
        </div>

        {% else %}
        {% endif %}
    </div>
</div>
{% endblock %}