{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container" style="margin-bottom: 100px;">
    <div class="margin">
        {% if user.is_superuser %}
        <h2>Create Sale</h2>
        <hr>
        <div class="row">
            <div class="col-8">
                <form method="POST" action="{% url 'create_sale' %}">
                    {% csrf_token %}

                    <fieldset>
                        <legend>Add discount</legend>

                        <label>By percentage</label>
                        <input class="form-control w-25 discount-input" type="number" placeholder="%" name="per{{product.id}}"
                            onchange="calcDiscount(this);"><br>

                        <label>By value</label>
                        <input class="form-control w-25 discount-input" type="number" placeholder="£" name="val{{product.id}}"
                            onchange="calcDiscount(this);">

                    </fieldset>
                    <hr>
                    <br>

                    <fieldset>
                        <legend>Discount Products</legend>
                        <table class="table table-borderless">
                            <thead>
                                <tr>
                                    <td>Product</td>
                                    <td>Price</td>
                                    <td class="text-center">Sale Price</td>
                                    <td class="text-center">Discount</td>
                                    <td>Apply</td>
                                </tr>
                            </thead>
                            <tbody>
                                {% for product in products %}
                                <tr>
                                    <td><label for="{{product.id}}">{{product.friendly_name}}</label></td>
                                    <td class="product-price">£{{product.price}}</td>
                                    <td class="text-center">£<input class="ms-2 w-50 sale-price" type="number" step="any"></td>
                                    <td class="text-center">£<input class="ms-2 w-50 discount-price" type="number" step="any"></td>
                                    <td><input type="checkbox" class="product-checks" name="name{{product.id}}"
                                            value="{{product.id}}" checked
                                            onchange="updatePrices();"><br></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </fieldset>

                    <div class="row py-3">
                        <div class="col d-flex justify-content-center">
                            <button class="mx-auto btn admin text-white" type="submit" >Apply
                                discount</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>

        {% else %}
        {% endif %}
    </div>
</div>
{% endblock %}

{% block postloadjs %}
<script>
    function calcDiscount(element) {

        var discountInputs = document.getElementsByClassName('discount-input');
        var salePrices = document.getElementsByClassName('sale-price');
        var discountPrices = document.getElementsByClassName('discount-price');
        var productPrices = document.getElementsByClassName('product-price');
        var productChecks = document.getElementsByClassName('product-checks');

        if (discountInputs[0].value == "" & discountInputs[1].value == "") {
            for (i = 0; i < salePrices.length; i++) {
                discountPrices[i].value = "";
                salePrices[i].value = "";
            }
        } else {


            if (discountInputs[0] == element & discountInputs[1] !== "") {
                discountInputs[1].value = "";
            } else {
                discountInputs[0].value = "";
            }

            for (j = 0; j < salePrices.length; j++) {
                price = productPrices[j].innerHTML.replace('£', "");

                if (discountInputs[0].value == "") {
                    sale_price = (parseFloat(price) - parseFloat(element.value)).toFixed(2)
                    discount_price = parseFloat(element.value)
                } else {
                    sale_price = (((100 - parseFloat(element.value)) / 100) * parseFloat(price)).toFixed(2)
                    discount_price = (parseFloat(price) - sale_price).toFixed(2)
                }

                if (productChecks[j].checked) {
                    salePrices[j].value = sale_price
                    discountPrices[j].value = discount_price
                } else {
                    salePrices[j].value = ""
                    discountPrices[j].value = ""
                }
            }

            k = 0;
            for (i = 0; i < productChecks.length; i++) {
                if (productChecks[i].checked) {
                    k++
                }
            }

            document.getElementsByTagName('button')[2].disabled = false
            document.getElementsByTagName('button')[2].innerHTML = `Apply discount to ${k} products`
        }
    }

    function updatePrices() {
        perc = document.getElementsByClassName('discount-input')[0]
        val = document.getElementsByClassName('discount-input')[1]

        if (perc.value) {
            calcDiscount(perc)
        } else if (val.value) {
            console.log("val")
        } else {

        }

        // if (document.getElementsByClassName('discount-input')[0].value == "" & document.getElementsByClassName('discount-input')[1].value !== "") {
        //    console.log("here value")
        //     calcDiscount(document.getElementsByClassName('discount-input')[1])
        // } else if (document.getElementsByClassName('discount-inputs')[1].value == "" & document.getElementsByClassName('discount-input')[0].value !== ""){
        //     console.log("here %")
        //     calcDiscount(document.getElementsByClassName('discount-input')[0])
        // } else {
        //     console.log("do nothing")
        // }
    }
</script>
{% endblock %}