{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container" style="margin-bottom: 100px;">
    <div class="margin">
        <div class="row">
            <div class="col-2 offset-5">
                <a href="{% url 'add_product' %}"><button class="w-100 btn admin text-white">Add new product <i
                            class="ps-3 fa-solid fa-plus"></i></button></a>
            </div>
        </div>

        <div class="row pt-4">

            <h2>Edit <strong>{{product.friendly_name}}</strong></h2>
            <a target="_blank" href="{% url 'product_detail' product.id %}">Preview</a>
            <hr>

            <div class="col-12 col-lg-8">
                <form method="POST" action="{% url 'edit_product' product.id %}">
                    {% csrf_token %}

                    <!-- category -->
                    <fieldset>
                        <legend class="pt-5">Category</legend>

                        {{form.category.label}}
                        {{form.category}}

                        <div class="add-product-plant">
                            {{form.plant_category.label}}
                            {{form.plant_category}}
                        </div>

                        <div class="row text-center">
                            <div class="col">
                                {{form.rare.label}} <i class="fa-solid fa-gem"></i>
                                {{form.rare}}
                                <!-- <input type="checkbox" name="rare" value="true" id="{{form.rare.id_for_label}}"><br>
                                {{form.rare.label}} <i class="fa-solid fa-gem"></i> -->
                            </div>

                            <div class="col">
                                {{form.popular.label}} <i class="fa-solid fa-bolt-lightning"></i>
                                {{form.popular}}
                                <!-- <input type="checkbox" name="popular" value="true"
                                    id="{{form.popular.id_for_label}}"><br>
                                {{form.popular.label}} <i class="fa-solid fa-bolt-lightning"></i> -->
                            </div>
                        </div>
                    </fieldset>

                    <!-- name, description -->
                    <fieldset>
                        <legend class="pt-5">General Information</legend>

                        <label>Name</label>
                        <p><small><em>provide a name to be used on the product page in the format of eg. 'Chinese Money
                                    Plant'</em></small></p>
                        {{form.friendly_name}}

                        {{form.latin_name.label}}
                        {{form.latin_name}}

                        {{form.description.label}}
                        {{form.description}}

                        {{form.description_source.label}}
                        {{form.description_source}}

                        {{form.description_url.label}}
                        {{form.description_url}}
                    </fieldset>

                    <!-- images -->
                    <fieldset>
                        <legend class="pt-5">Images</legend>

                        <p><small><em>provide urls for up to 3 images from a cloud storage</em></small></p>
                        {{form.image1_source_url}}
                        {{form.image2_source_url}}
                        {{form.image3_source_url}}

                        <div class="row">
                            <div class="col-4">
                                <img class="id_image1_source_url" style="height: 200px; width: 100%;"
                                    src="https://res.cloudinary.com/code-institute-mojos-beans/image/upload/v1650718226/LovePlants/233-2332677_image-500580-placeholder-transparent_ydin0l.jpg"><br>
                                <p class="text-center"><em><small>main image</small></em></p>
                            </div>
                            <div class="col-4">
                                <img class="id_image2_source_url" style="height: 200px; width: 100%;"
                                    src="https://res.cloudinary.com/code-institute-mojos-beans/image/upload/v1650718226/LovePlants/233-2332677_image-500580-placeholder-transparent_ydin0l.jpg">
                            </div>
                            <div class="col-4">
                                <img class="id_image3_source_url" style="height: 200px; width: 100%;"
                                    src="https://res.cloudinary.com/code-institute-mojos-beans/image/upload/v1650718226/LovePlants/233-2332677_image-500580-placeholder-transparent_ydin0l.jpg">
                            </div>
                        </div>
                    </fieldset>

                    <!-- details -->
                    <fieldset>
                        <legend class="pt-5">Details</legend>

                        <i class="pe-2 pb-3 fa-solid fa-whiskey-glass"></i>{{form.pot_size.label}}
                        {{form.pot_size}}

                        <i class="pe-3 pb-3 fa-solid fa-ruler-vertical"></i> {{form.height.label}}
                        {{form.height}}

                        <!-- {{form.length.label}}
                        {{form.length}} -->

                        <div class="row">
                            <div class="col">
                                <i class="pe-3 pb-3 fa-solid fa-seedling"></i> {{form.maturity_num.label}}
                                {{form.maturity_num}}
                            </div>
                            <div class="col">
                                {{form.maturity_time.label}}
                                {{form.maturity_time}}
                            </div>
                        </div>
                    </fieldset>

                    <!-- care -->
                    <fieldset>
                        <legend class="pt-5">Care</legend>

                        <!-- sunlight -->
                        <div class="row py-2 text-center">
                            <p class="text-center">Required sunlight</p>
                            <div class="col d-flex justify-content-center">
                                <label class="plant-sun" onclick="boldSelection(this);"
                                    for="{{form.sunlight.1.id_for_label}}"><i class="fa-solid fa-cloud"></i><br>
                                    <em>1 - 2 hours</em></label>
                                {{form.sunlight.1.tag}}
                            </div>
                            <div class="col d-flex justify-content-center">
                                <label class="plant-sun" onclick="boldSelection(this);"
                                    for="{{form.sunlight.2.id_for_label}}"><i class="fa-solid fa-cloud-sun"></i><br>
                                    <em>4 - 7 hours</em></label>
                                {{form.sunlight.2.tag}}
                            </div>
                            <div class="col d-flex justify-content-center">
                                <label class="plant-sun" onclick="boldSelection(this);"
                                    for="{{form.sunlight.3.id_for_label}}"><i class="fa-solid fa-sun"></i><br>
                                    <em>8 - 10 hours</em></label>
                                {{form.sunlight.3.tag}}
                            </div>
                        </div>
                        <hr>

                        <!-- watering -->
                        <div class="row py-2 text-center">
                            <p class="text-center">Required water</p>
                            <div class="col d-flex justify-content-center">
                                <label class="plant-water" onclick="boldSelection(this);"
                                    for="{{form.watering.1.id_for_label}}"><i class="fa-solid fa-droplet-slash"></i><br>
                                    <em>water monthly</em></label>
                                {{form.watering.1.tag}}
                            </div>
                            <div class="col d-flex justify-content-center">
                                <label class="plant-water" onclick="boldSelection(this);"
                                    for="{{form.watering.2.id_for_label}}"><i class="fa-solid fa-droplet"></i><br>
                                    <em>water weekly</em></label>
                                {{form.watering.2.tag}}
                            </div>
                            <div class="col d-flex justify-content-center">
                                <label class="plant-water" onclick="boldSelection(this);"
                                    for="{{form.watering.3.id_for_label}}"><i class="fa-solid fa-droplet"></i><i
                                        class="fa-solid fa-droplet"></i><br>
                                    <em>water daily</em></label>
                                {{form.watering.3.tag}}
                            </div>
                        </div>
                        <hr>

                        <!-- care -->
                        <div class="row py-2 text-center">
                            <p class="text-center">Plant maintenance</p>
                            <div class="col d-flex justify-content-center">
                                <label class="plant-care" onclick="boldSelection(this);"
                                    for="{{form.care_required.1.id_for_label}}"><i class="fa-solid fa-heart"></i><br>
                                    <em>can stand a little neglect</em></label>
                                {{form.care_required.1.tag}}
                            </div>
                            <div class="col d-flex justify-content-center">
                                <label class="plant-care" onclick="boldSelection(this);"
                                    for="{{form.care_required.2.id_for_label}}">
                                    <i class="fa-solid fa-heart"></i><i class="fa-solid fa-heart"></i><i
                                        class="fa-solid fa-heart"></i>
                                    <br><em>requires frequent care</em>
                                </label>
                                {{form.care_required.2.tag}}
                            </div>
                        </div>

                        <div class="pt-4">
                            {{form.care_instructions.label}}
                            <p><small><em>provide further care instructions for this plant</em></small></p>
                            {{form.care_instructions}}

                            {{form.care_instructions_source.label}}
                            <p><small><em>provide a source for the care instructions if required</em></small></p>
                            {{form.care_instructions_source}}

                            {{form.care_instructions_url.label}}
                            <p><small><em>provide a source url for the care instructions if required</em></small></p>
                            {{form.care_instructions_url}}
                        </div>

                    </fieldset>

                    <!-- price, stock -->
                    <fieldset>
                        <legend>Price, Stock</legend>

                        {{form.price.label}}
                        {{form.price}}

                        <!-- {{form.sale_price.label}}
                        {{form.sale_price}} -->

                        {{form.stock_quantity.label}}
                        {{form.stock_quantity}}
                    </fieldset>

                    <!-- buttons -->
                    <!-- on site -->
                    <fieldset>
                        <label>Live on site</label>
                        {{form.live_on_site}}
                    </fieldset>

                    <div class="row pt-5">
                        <div class="col-12 col-md-4 d-flex justify-content-evenly py-2">
                            <button type="button" class="btn admin w-100 text-white" data-bs-toggle="modal"
                                data-bs-target="#myModal">
                                Delete product <i class="ps-2 fa-solid fa-trash-can"></i>
                            </button>
                        </div>
                        <div class="col-12 col-md-4 d-flex justify-content-evenly py-2">
                            <button type="submit" class="btn admin w-100 text-white" name="save-as-new">Save as new <i
                                    class="ps-2 fa-solid fa-copy"></i></button>
                        </div>
                        <div class="col-12 col-md-4 d-flex justify-content-evenly py-2">
                            <button type="submit" class="btn admin w-100 text-white">Save changes <i
                                    class="ps-2 fa-solid fa-floppy-disk"></i></button>
                        </div>
                    </div>

                </form>
            </div>
        </div>

        <!-- <div class="col-12 border col-lg-6">
            <img class="id_image1_source_url" style="height: 350px; width: 100%;"
                src="https://res.cloudinary.com/code-institute-mojos-beans/image/upload/v1650718226/LovePlants/233-2332677_image-500580-placeholder-transparent_ydin0l.jpg"><br>
            <p class="text-center"><em><small>main image</small></em></p>
        </div> -->
    </div>

    <!-- delete modal -->
    <div class="modal" id="myModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"> Delete product</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p class="text-center"><strong>{{product.friendly_name}}</strong></p>
                    <br>
                    <p><i class="fa-solid fa-circle-info"></i> Products can be removed from the live website without
                        deleting them by unchecking the 'Live on site' box</p>

                    <img
                        src="https://res.cloudinary.com/code-institute-mojos-beans/image/upload/v1651145626/LovePlants/Products/liveonsite_dgnvzi.jpg">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn admin text-white" data-bs-dismiss="modal"><i
                            class="fa-solid fa-xmark"></i> Close</button>
                    <a href="{% url 'delete_product' product.id %}"><button type="button" class="black-button"><i
                                class="p1-3 fa-solid fa-exclamation"></i> Delete Product</button></a>
                </div>
            </div>
        </div>
    </div>

</div>
</div>

{% endblock %}

{% block postloadjs %}
{{block.super}}
<script>
    /*jshint esversion: 6 */

    var myModal = document.getElementById('myModal');
    var myInput = document.getElementById('myInput');
    var i;
    var form = document.getElementsByTagName('form')[1];
    var liveOnSite = document.getElementById('id_live_on_site');
    var saveAsNew = document.getElementsByName('save-as-new')[0];

    myModal.addEventListener('shown.bs.modal', function () {
        myInput.focus();
    })

    /**
     * If user is saving object as a new object
     */

 

    // function saveNewValidation(ev) {

    //     var validArray = []
    //     event.preventDefault();

    //     if (liveOnSite.checked) {
    //         var valid = true;
    //         all_inputs = document.getElementsByTagName('input');

    //         for (i = 0; i < all_inputs.length; i++) {
    //             if (all_inputs[i].value == "") {
    //                 valid = false;
    //                 validArray.push(valid)
    //             } else {
    //                 valid = true;
    //                 validArray.push(valid)
    //             }
    //         }
    //     } else {
    //         form.submit(); 
    //     }

    //     if (validArray.includes('false')) {
    //         modal.style.display = "block";
    //     } else {
    //         form.submit();
    //     }
    // }

    document.addEventListener('DOMContentLoaded', () => {
        var sunlight = document.getElementsByName('sunlight');
        for (i = 0; i < sunlight.length; i++) {
            if (sunlight[i].checked) {
                sunlight[i].parentNode.style.color = '#069b8e';
            }
        }
        var watering = document.getElementsByName('watering');
        for (i = 0; i < watering.length; i++) {
            if (watering[i].checked) {
                watering[i].parentNode.style.color = '#069b8e';
            }
        }
        var care_req = document.getElementsByName('care_required');
        for (i = 0; i < care_req.length; i++) {
            if (care_req[i].checked) {
                care_req[i].parentNode.style.color = '#069b8e';
            }
        }

        uploadImage(document.getElementsByName('image1_source_url')[0]);
        uploadImage(document.getElementsByName('image2_source_url')[0]);
        uploadImage(document.getElementsByName('image3_source_url')[0]);
    });


    /*
    Add style to form radio buttons when selected
    */
    function boldSelection(element) {
        var labels = document.getElementsByClassName(element.className);
        for (i = 0; i < labels.length; i++) {
            labels[i].style.color = 'black';
        }

        element.style.color = '#069b8e';
    }

    function uploadImage(element) {
        var src = element.value;
        var image_id = element.id;
        var pic = document.getElementsByClassName(element.id)[0];

        if (src == "") {
            pic.src =
                'https://res.cloudinary.com/code-institute-mojos-beans/image/upload/v1650718226/LovePlants/233-2332677_image-500580-placeholder-transparent_ydin0l.jpg';
        } else {
            pic.src = src;
        }
    }
</script>
{% endblock %}