{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="margin">
        <!-- navigate back to all products -->
        <div class="row mt-5">
            <pp class="text-start">
                <button class="black-button" onclick="history.back()">Go Back</button>
                <br>
                <br>
                <a href="{% url 'products' %}">Products</a> /
                <a href="{% url 'products' %}?category={{product.category}}">{{product.category}}</a>
                {% if product.plant_category %}/
                <a href="{% url 'products' %}?plant_cats={{product.plant_category}}">{{product.plant_category}}
                    {% else %}
                    {% endif %}</a>
                / <strong><em>{{product.friendly_name}}</em></strong></p>
        </div>

        <!-- main container for product detail -->
        <div class="row">

            <!-- LH for pics -->
            <div class="col-sm-12 col-md-6">

                <div class="row">
                    <div class="col">
                        <img class="detail_image" src="{{ product.image1_source_url }}" id="main-image"
                            title="Image credit: {{product.image1_source}}">
                    </div>
                </div>
                <div class="row py-4">
                    <div class="col">
                        <img class="product_detail_alt_img" style="width:100%; height:80%" onclick="changeImage(this)"
                            src="{{ product.image1_source_url }}" title="Image credit: {{product.image1_source}}">
                    </div>

                    <div class="col">
                        {% if product.image2_source %}
                        <img class="product_detail_alt_img" style="width:100%; height:80%" onclick="changeImage(this)"
                            src="{{ product.image2_source_url }}" title="Image credit: {{product.image2_source}}">
                        {% endif %}
                    </div>

                    <div class="col">
                        {% if product.image3_source %}
                        <img class="product_detail_alt_img" style="width:100%; height:80%" onclick="changeImage(this)"
                            src="{{ product.image3_source_url }}" title="Image credit: {{product.image3_source}}">
                        {% endif %}
                    </div>

                </div>
            </div>

            <!-- RH for detail -->
            <div class="px-3 col-sm-12 col-md-6">
                <h2>{{product.friendly_name}} {% if product.stock == "out of stock" %}(out of
                    stock){% else %}{% endif %}
                </h2>

                <!-- if the product is a plant, display plant detail -->
                {% if product.plant_category %}
                <div>
                    <div class="row">
                        <div class="col">
                            <p class="fst-italic">{{product.latin_name|lower}}</p>
                        </div>
                        <div class="col">
                        </div>
                    </div>

                    <!-- rare, popular, easy care -->
                    <p class="text-center">
                        {% if product.rare == True %}
                        <i class="ps-4 pe-2 fa-solid fa-gem"></i>Rare
                        {% endif %}
                        {% if product.popular == True %}
                        <i class="ps-4 pe-2 fa-solid fa-bolt"></i>Popular
                        {% endif %}
                        {% if product.care_required == 'low' %}
                        <i class="ps-4 pe-2 fa-solid fa-face-smile"></i>Easy care
                        {% endif %}</p>
                    {% else %}
                </div>
                {% endif %}
                <hr>

                <!-- price, add to basket -->
                <div id="product-detail-add" class="row bg-white py-3">

                    <div class="col-12 text-center">
                        <p>{{product.friendly_name}} £ {{product.price}}</p>
                    </div>

                    <div class="col-12">
                        {% if product.stock == "out of stock" %}
                        <!-- <button type="button" disabled class="mx-2 btn btn-outline-secondary btn-sm">
                        <large>-</large>
                    </button> -->
                        <input class="text-center" disabled type="number" min=0 max=4>
                        <!-- <button type="button" disabled class="mx-2 btn btn-outline-secondary btn-sm">
                        <large>+</large>
                    </button> -->
                        <button type="button" disabled class="btn btn-outline-secondary">Add to basket</button>


                        {% else %}
                        <!-- add product to bag -->
                        <form class="form" action="{% url 'add_to_bag' product.id %}" method="POST">
                            {% csrf_token %}
                            <div class="row px-2">
                                <div class="col col-sm-6 d-flex justify-content-end justify-content-sm-center">
                                    <input class="qty_input text-center border border-dark" type="number" min=1
                                        max={{product.stock_quantity}}
                                        oninvalid="setCustomValidity('Not enough items in stock!')" value=1
                                        name="quantity">
                                </div>
                                <div class="col col-sm-6 d-flex justify-content-start justify-content-sm-center">
                                    <input id="add-to-bag" type="submit" class="text-center" value="Add to bag">
                                </div>
                            </div>
                            <input style="width: 0; height: 0;" type="hidden" name="redirect_url"
                                value="{{ request.path }}">
                        </form>
                        {% endif %}
                    </div>
                    {% for item in bag_items %}
                    {% if item.product.friendly_name == product.friendly_name %}
                    <p class="text-center fw-bold">This item is already in your <a
                            href="{% url 'view_bag' %}">basket</a>.
                    </p>
                    {% endif %}
                    {% endfor %}
                </div>
                <br>
                <p>{{product.description}} <small><a href="{{product.description_url}}"
                            target="_blank">{{product.description_source}}</a></small></p>
                <hr>

                <!-- if product is plant, display plant detail -->
                {% if product.plant_category %}
                <table class="table table-borderless">
                    <tbody>
                        <tr>
                            <td class="text-end"><i class="px-3 fa-solid fa-ruler-horizontal" title="Pot diameter"></i>
                            </td>
                            <td class="text-start">{{product.pot_size}} cm</td>
                            {% if product.height %}
                            <td title="Plant height" class="text-end"><i class="px-3 fa-solid fa-ruler-vertical"></i>
                            </td>
                            <td title="Plant height" class="text-start">{{product.height}} cm</td>
                            {% else %}
                            <td class="text-end"><i class="px-3 fa-solid fa-ruler-vertical" title="Plant length"></i>
                            </td>
                            <td class="text-start">{{product.length}} cm</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td class="text-end"><i class="px-3 fa-solid fa-seedling" title="Plant maturity"></i></td>
                            <td class="text-start">{{product.maturity_num}} {{product.maturity_time}}</td>
                            <td class="text-end"><i class="px-3 fa-solid fa-droplet" title="Watering frequency"></i>
                            </td>
                            <td class="text-start">{{product.watering}}</td>
                        </tr>
                        <tr>
                            <td class="text-end"><i class="px-3 fa-solid fa-sun" title="Sunlight required"></i></td>
                            <td class="text-start">{{product.sunlight}}</td>
                            <td class="text-end"><i class="px-3 fa-solid fa-hand-holding-heart"
                                    title="Care difficulty"></i>
                            </td>
                            <td class="text-start">{{product.care_required}}</td>
                        </tr>
                    </tbody>
                </table>
                {% else %}
                {% endif %}

                <!-- reviews form and rating display -->
                <div class="row">

                    <div class="col-12 col-md-4 offset-md-4">
                        <table class="table table-borderless">
                            <tbody>
                                {% if reviews.count == 0 %}
                                <tr>
                                    <td><i class="fa-regular fa-star"></i></td>
                                    <td><i class="fa-regular fa-star"></i></td>
                                    <td><i class="fa-regular fa-star"></i></td>
                                    <td><i class="fa-regular fa-star"></i></td>
                                    <td><i class="fa-regular fa-star"></i></td>
                                </tr>
                                <tr>
                                    <td colspan="5" class="text-center"><small>({{reviews.count}} reviews)</small></td>
                                </tr>
                                {% else %}
                                <tr id="append-star">
                                </tr>
                                <tr>
                                    <td class="text-center" colspan="5" id="avg-rating">{{product.average_rating|floatformat:1 }}/5</td>
                                </tr>
                                <tr class="text-center">
                                    <td colspan="5" class="text-center"><small><a
                                                href="#product-review-title">({{reviews.count}} reviews)</a></small>
                                    </td>
                                </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                    <hr>

                    {% if already_reviewed %}
                    {% else %}
                    {% if has_purchased %}
                    <p class="text-center">Did you like this product?</p>
                    <div class="col-12">
                        <form class="px-4" method="POST" action="{% url 'product_review' product.id %}">
                            {% csrf_token %}
                            {{form.review}}

                            <div class="row mx-5 my-2 d-flex justify-content-center">
                                {% for r in form.rating %}
                                <div class="col-1">
                                    <label onclick="colorRating(this);" class="user-rating" for="{{r.id_for_label}}"><i
                                            class="fa-regular fa-star"></i></label>
                                    <input type="radio" name="rating" value="{{r.data.value}}" required
                                        id="{{r.id_for_label}}">
                                </div>
                                {% endfor %}
                            </div>
                            <p class="text-center" id="users-rating"></p>
                            <input style="width: 0; height: 0;" type="hidden" name="redirect_url"
                                value="{{ request.path }}">

                            <div class="row d-flex justify-content-center">
                                <button type="submit" class="my-3 w-50 black-button">Leave Review</button>
                            </div>
                        </form>
                    </div>
                    {% else %}
                    {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>

        <div>
            <!-- care instructions if product type is a plant -->
            {% if product.plant_category %}
            <div class="py-4 row">
                <h4>Care Instructions</h4>
                <p>"{{product.care_instructions}}" <small><a href="{{product.care_instructions_url}}"
                            target="_blank">{{product.care_instructions_source}}</a></small></p>
            </div>
            {% else %}
            {% endif %}
            <hr>

            <!-- similar products, other recommended products -->
            <div>
                <div class="py-4 row">
                    <h3 class="text-center">You may also like</h3>
                    <div class="row">
                        <div class="col"></div>
                    </div>
                </div>

                <!-- if product is rare, list other rare products -->
                {% if product.rare == True %}
                <div class="my-4 row">
                    <h4>See other rare products</h4>
                    {% for rare in rare_products %}
                    <div class="col-sm-4 col-lg-3">
                        <a href="{% url 'product_detail' rare.id %}"><img style="width:100%; height:80%" class="p-3"
                                src="{{rare.image1_source_url}}"></a>
                        <a href="{% url 'product_detail' rare.id %}">
                            <p class="text-center"><strong>{{rare.friendly_name}}</strong></p>
                        </a>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}

                <!-- if product is popular, list other popular products -->
                {% if product.popular == True %}
                <div class="my-4 row">
                    <h4>See other popular products</h4>
                    {% for popular in popular_products %}
                    <div class="col-sm-4 col-lg-3">
                        <a href="{% url 'product_detail' popular.id %}"><img style="width:100%; height:80%" class="p-3"
                                src="{{popular.image1_source_url}}"></a>
                        <a href="{% url 'product_detail' popular.id %}">
                            <p class="text-center"><strong>{{popular.friendly_name}}</strong></p>
                        </a>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}

                <!-- if product is easy care, list other easy care products -->
                {% if product.care_required == 'low' %}
                <div class="my-4 row">
                    <h4>See other easy care products</h4>
                    {% for easy in easy_care %}
                    <div class="col-sm-4 col-lg-3">
                        <a href="{% url 'product_detail' easy.id %}"><img style="width:100%; height:80%" class="p-3"
                                src="{{easy.image1_source_url}}"></a>
                        <a href="{% url 'product_detail' easy.id %}">
                            <p class="text-center"><strong>{{easy.friendly_name}}</strong></p>
                        </a>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}

                <!-- list recently viewed products -->
                {% if user.is_authenticated %}
                {% if recently_viewed %}
                <div class="row my-3">
                    <h4>Recently viewed products</h4>
                    {% for recent in recently_viewed %}
                    <div class="col-sm-4 col-lg-3">
                        <a href="{% url 'product_detail' recent.id %}"><img style="width:100%; height:60%" class="p-3"
                                src="{{recent.image1_source_url}}"></a>
                        <a href="{% url 'product_detail' recent.id %}">
                            <p class="text-center"><strong>{{recent.friendly_name}}</strong></p>
                        </a>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
                {% else %}
                {% endif %}
            </div>

            <!-- reviews of the product -->
            {% if reviews %}
            <div class="row">
                <div class="col-2">
                </div>
                <div class="col-8 py-3">
                    <h2 class="text-center" id="product-review-title">Reviews</h2>

                    {% for review in reviews %}
                    <div class="row">
                        <div class="col">
                            <p>{{review.review}}</p>
                            <p><small><em>{{review.user}} | {{review.review_time}}</em></small></p>
                        </div>
                        <div class="col text-end">
                            <p>{{review.rating}}</p>
                        </div>
                        <hr>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-2">
                </div>
            </div>
            {% else %}
            {% endif %}
        </div>
    </div>
</div>

{% endblock content %}

{% block postloadjs %}
<script>
    displayRating();

    function displayRating() {
        row = document.getElementById('append-star');
        avgRating = parseFloat(document.getElementById('avg-rating').innerHTML.slice(0, 3));
        avgRating2 = avgRating
        i = 0;
        while (i < avgRating-1) {
            var data = document.createElement('td');
            data = document.createElement('td');
            data.innerHTML = '<i class="fa-solid fa-star"></i>';
            row.append(data);
            avgRating2 -= i;
            console.log(avgRating2)
            i++;
        }
    }

    /**
    Change main image when sub images are clicked
    */
    function changeImage(element) {
        var main_image = document.getElementById('main-image');
        main_image.src = element.src;
    }

    /*
    Fill in the rating stars when selected
    */
    function colorRating(element) {
        var star_elements = document.getElementsByClassName('user-rating');
        for (i = 0; i < star_elements.length; i++) {
            star_elements[i].innerHTML = '<i class="fa-regular fa-star"></i>'
        }

        var this_star = element;
        var value_of_radio = this_star.nextElementSibling.value;
        var i = 0
        while (i < value_of_radio) {
            star_elements[i].innerHTML = '<i class="fa-solid fa-star"></i>';
            i++;
        }
        document.getElementById('users-rating').innerHTML = `${value_of_radio}/5`
    }
</script>
{% endblock %}