{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid" style="padding: 30px;">

    <div class="row m-4">
        <div class="col-6 offset-3">

            <div class="d-flex">
                <hr class="flex-grow-1">
                <h2 class="text-center px-5">PLANTS</h2>
                <hr class="flex-grow-1">
            </div>

            <ul class="list-group list-group-horizontal-lg">
                <li class="text-center list-group-item flex-fill border-0"><a
                        href="{% url 'products' %}?{{current_filters}}&plant_cats=Hanging">
                        {% for filter in front_end_filters %}
                        {% if filter.1 == 'Hanging' %}
                        <img src="/static/media/hanging_bold.png" title="Hanging plants">
                        {% else %}
                        <img src="/static/media/hanging.png" title="Hanging plants">
                        {% endif %}
                        {% endfor %}
                        <br><br><small>Hanging</small></a></li>
                <li class="text-center list-group-item flex-fill border-0"><a
                        href="{% url 'products' %}?{{current_filters}}&plant_cats=Floor">
                        {% for filter in front_end_filters %}
                        {% if filter.1 == 'Floor' %}
                        <img src="/static/media/floor_bold.png" title="Floor plants">
                        {% else %}
                        <img src="/static/media/floor.png" title="Hanging plants">
                        {% endif %}
                        {% endfor %}
                        <br><br><small>Floor</small></a></li>
                <li class="text-center list-group-item flex-fill border-0"><a
                        href="{% url 'products' %}?{{current_filters}}&plant_cats=Potted"><img
                            src="/static/media/potted.png" title="Floor plants"><br><br><small>Potted</small></a></li>
                <li class="text-center list-group-item flex-fill border-0"><a
                        href="{% url 'products' %}?{{current_filters}}&plant_cats=Flowers"><img
                            src="/static/media/flowers.png" title="Flower plants"><br><br><small>Flowers</small></a>
                </li>
                <li class="text-center list-group-item flex-fill border-0"><a
                        href="{% url 'products' %}?{{current_filters}}&plant_cats=Succulents"><img
                            src="/static/media/succulent.png" title="Succulents"><br><br><small>Succulents</small></a>
                </li>
            </ul>
            <hr>

            <ul class="list-group border-0 list-group-horizontal-lg">

                <!-- filter by price -->
                <li class="list-group-item border-0">
                    <div class="dropdown">
                        <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Price
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li class="text-center list-group-item flex-fill border-0"><a
                                    href="{% url 'products' %}?{{current_filters}}&price=0,20">£0 - £20</a></li>
                            <li class="text-center list-group-item flex-fill border-0"><a
                                    href="{% url 'products' %}?{{current_filters}}&price=20,30">£20 - £30</a></li>
                            <li class="text-center list-group-item flex-fill border-0"><a
                                    href="{% url 'products' %}?{{current_filters}}&price=30,40">£30 - £40</a></li>
                            <li class="text-center list-group-item flex-fill border-0"><a
                                    href="{% url 'products' %}?{{current_filters}}&price=40,50">£40 - £50</a></li>
                            <li class="text-center list-group-item flex-fill border-0"><a
                                    href="{% url 'products' %}?{{current_filters}}&price=50">£50+</a></li>
                        </ul>
                        {% for filter in front_end_filters %}
                        {% if filter.0 == 'price' %}
                        <p class="text-center">{{filter.2|title}}</p>
                        {% endif %}
                        {% endfor %}

                    </div>
                </li>

                <!-- filter by sunlight -->
                <li class="list-group-item border-0">
                    <div class="dropdown">
                        <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Sunlight required
                        </button>
                        <ul class="dropdown-menu border-0" aria-labelledby="dropdownMenuButton1">
                            <li class="text-center list-group-item flex-fill border-0"><a
                                    href="{% url 'products' %}?{{current_filters}}&sunlight=low">Low <i
                                        class="fa-solid fa-cloud"></i></a></li>
                            <li class="text-center list-group-item flex-fill border-0"><a
                                    href="{% url 'products' %}?{{current_filters}}&sunlight=med">Medium <i
                                        class="fa-solid fa-cloud-sun"></i></a></li>
                            <li class="text-center list-group-item flex-fill border-0"><a
                                    href="{% url 'products' %}?{{current_filters}}&sunlight=high">High <i
                                        class="fa-solid fa-sun"></i></a></li>
                        </ul>
                        {% for filter in front_end_filters %}
                        {% if filter.0 == 'sunlight' %}
                        <p class="text-center">{{filter.2|title}}</p>
                        {% endif %}
                        {% endfor %}
                    </div>
                </li>

                <!-- filter by watering -->
                <li class="list-group-item border-0">
                    <div class="dropdown">
                        <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Watering required
                        </button>
                        <ul class="dropdown-menu border-0" aria-labelledby="dropdownMenuButton1">
                            <li class="text-center list-group-item flex-fill border-0"><a
                                    href="{% url 'products' %}?{{current_filters}}&watering=low">Low <i
                                        class="fa-solid fa-droplet"></i></a></li>
                            <li class="text-center list-group-item flex-fill border-0"><a
                                    href="{% url 'products' %}?{{current_filters}}&watering=med">Medium <i
                                        class="fa-solid fa-cloud-rain"></i></a></li>
                            <li class="text-center list-group-item flex-fill border-0"><a
                                    href="{% url 'products' %}?{{current_filters}}&watering=high">High <i
                                        class="fa-solid fa-cloud-showers-heavy"></i></a></li>
                        </ul>
                        {% for filter in front_end_filters %}
                        {% if filter.0 == 'watering' %}
                        <p class="text-center">{{filter.2|title}}</p>
                        {% endif %}
                        {% endfor %}
                    </div>
                </li>
            </ul>

            <p class="text-center"><a href="{% url 'products' %}">Clear all</a></p>
        </div>
    </div>

    <div class="row">

        <!-- products list -->
        <div class="col">

            <!-- number of products, products per page, sort  -->
            <div class="row">
                <div class="col text-start">

                    <!-- <a href="https://www.flaticon.com/free-icons/menu" title="menu icons">Menu icons created by Kiranshastry - Flaticon</a> -->

                </div>
                <div class="col p-2 text-center">
                    <h4>&nbsp;&nbsp;{{all_products.count}} products {% if filtered_by %}for "{{filtered_by}}"{% endif %}

                        {% for filter in front_end_filters %}
                        <p>{{filter}}</p>
                        {% endfor %}
                        <!-- {% if total_products.count == all_products.count or all_products.count == 0 %}
                        {% else %}
                        <br>
                        <a href="{% url 'products' %}"><small>(clear)</small></a>
                        {% endif %}</h4> -->
                </div>

                <div class="col p-2 d-flex justify-content-end">
                    <div class="dropdown border">
                        <a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Sort products: Rating (high - low)
                        </a>

                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <li><a class="dropdown-item"
                                    href="{% url 'products' %}?sort=price&direction=asc{{current_filters}}">Price
                                    (low-high)</a></li>
                            <li><a class="dropdown-item"
                                    href="{% url 'products' %}?sort=price&direction=desc{{current_filters}}">Price
                                    (high-low)</a></li>
                            <li><a class="dropdown-item"
                                    href="{% url 'products' %}?sort=average_rating&direction=asc">Rating (low-high)</a>
                            </li>
                            <li><a class="dropdown-item"
                                    href="{% url 'products' %}?sort=average_rating&direction=desc">Rating (high-low)</a>
                            </li>
                            <li><a class="dropdown-item" href="{% url 'products' %}?sort=name&direction=asc">Name
                                    (A-Z)</a></li>
                            <li><a class="dropdown-item" href="{% url 'products' %}?sort=name&direction=desc">Name
                                    (Z-A)</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- the users search query -->
            {% if search_query != None %}
            <div class="row text-center">
                <h4>{{all_products.count}} results for "{{search_query}}"</h4>

                {% if all_products.count == 0 %}
                <p>Try searching by a different term</p>
                {% endif %}
            </div>
            {% endif %}

            <!-- list the products -->
            <div class="row">
                {% for product in page_obj %}

                <div class="col-sm-6 col-lg-3 d-flex justify-content-center">
                    <div class="card text-center border-0 py-3" style="width: 20rem;">
                        {% if product.stock == 'out of stock' %}
                        <a href="{% url 'product_detail' product.id %}">
                            <div>
                                <p id="oos-image-banner">Out of stock</p>

                                <img src="{{product.image1_source_url}}" id="product-out-of-stock"
                                    class="card-img-top rounded-0" alt="{{product.friendly_name}} product image">
                            </div>
                        </a>
                        <div class="card-body">
                            <a href="{% url 'product_detail' product.id %}">
                                <h5 class="card-title">{{product.friendly_name|upper}}</h5>
                            </a>
                            <p><em><small>{{product.latin_name}}</small></em></p>
                            <p class="card-text">£{{product.price}}</p>
                        </div>

                        {% else %}
                        <div>

                            <a href="{% url 'product_detail' product.id %}"><img src="{{product.image1_source_url}}"
                                    class="card-img-top rounded-0" alt="{{product.friendly_name}} product image"></a>
                        </div>
                        <div class="card-body">
                            <a href="{% url 'product_detail' product.id %}">
                                <h5 class="card-title">{{product.friendly_name|upper}}</h5>
                            </a>
                            {% if product.latin_name %}
                            <p><em><small>{{product.latin_name}}</small></em></p>
                            {% else %}
                            {% endif %}
                            <p class="card-text">£{{product.price}}</p>
                        </div>
                        {% endif %}
                    </div>
                </div>

                {% endfor %}
            </div>

            <!-- pagination -->
            <div class="pagination">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                    {% endif %}

                    <span class="current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>

                    {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </span>
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block postloadjs %}
<script>

</script>
{% endblock %}