{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container py-5">
    <div class="row">
        <!-- LH for pics -->
        <div class="col">
            <img class="detail_image" src="{{ product.image1_source_url }}" title="Image credit: {{product.image1_source}}">
        </div>
        <!-- RH for detail -->
        <div class="col">
            <h2>{{product.friendly_name}}</h2>
            <p class="fst-italic">{{product.latin_name|lower}}</p>
            <p class="text-center"> 
                {% if product.rare == True %}
                <i class="px-3 fa-solid fa-gem"></i>Rare
                {% endif %}
                {% if product.popular == True %}
                <i class="px-3 fa-solid fa-bolt"></i>Popular
                {% endif %}</p>
            <hr>
            <div class="row">
                <div class="col-4 text-center">
                    <h4>£ {{product.price}}</h4>
                </div>
                <div class="d-flex align-items-center col-8">
                    <button type="button" class="mx-2 btn btn-outline-secondary btn-sm"><large>-</large></button>
                    <input class="text-center" type="number" min=0 max=4 value=1>
                    <button type="button" class="mx-2 btn btn-outline-secondary btn-sm"><large>+</large></button>
                    <button type="button" class="mx-2 btn btn-outline-secondary">Add to basket</button>
                </div>
            </div>
            <br>
            <p>{{product.description}} <small><a href="{{product.description_url}}"
                        target="_blank">{{product.description_source}}</a></small></p>
            <hr>
            <table class="table table-borderless">
                <tbody>
                    <tr>
                        <td class="text-end"><i class="px-3 fa-solid fa-ruler-horizontal" title="Pot diameter"></i></td>
                        <td class="text-start">{{product.pot_size}} cm</td>
                        {% if product.height %}
                        <td class="text-end"><i class="px-3 fa-solid fa-ruler-vertical" title="Plant height"></i></td>
                        <td class="text-start">{{product.height}} cm</td>
                        {% else %}
                        <td class="text-end"><i class="px-3 fa-solid fa-ruler-vertical" title="Plant length"></i></td>
                        <td class="text-start">{{product.length}} cm</td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td class="text-end"><i class="px-3 fa-solid fa-seedling" title="Plant maturity"></i></td>
                        <td class="text-start">{{product.maturity_num}} {{product.maturity_time}}</td>
                        <td class="text-end"><i class="px-3 fa-solid fa-droplet" title="Watering frequency"></i></td>
                        <td class="text-start">{{product.watering}}</td>
                    </tr>
                    <tr>
                        <td class="text-end"><i class="px-3 fa-solid fa-sun" title="Sunlight"></i></td>
                        <td class="text-start">{{product.sunlight}}</td>
                        <td class="text-end"><i class="px-3 fa-solid fa-hand-holding-heart" title="Care difficulty"></i></td>
                        <td class="text-start">{{product.care_required}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="py-4 row">
        <h4>Care Instructions</h4>
        <p>"{{product.care_instructions}}" <small><a href="{{product.care_instructions_url}}"
                    target="_blank">{{product.care_instructions_source}}</a></small></p>
    </div>
    <hr>
    <div class="py-4 row">
        <h3 class="text-center">You may also like</h3>
        <div class="row">
            <div class="col"></div>
        </div>
    </div>

    <!-- if product is rare, list other rare products -->
    {% if product.rare == True %}
    <div class="my-4 row">
        <h4>See other rare products</h4>
        {% for rare in rare_products %}
        <div class="col-3">
            <img style="width:100%; height:80%" class="p-3" src="{{rare.image1_source_url}}">
            <p class="text-center"><strong>{{rare.friendly_name}}</strong></p>
        </div>
        {% endfor %}
    </div>
    {% endif %}

    {% if product.popular == True %}
    <!-- if product is popular, list other popular products -->
    <div class="my-4 row">
        <h4>See other popular products</h4>
        {% for popular in popular_products %}
        <div class="col-3">
            <img style="width:100%; height:80%" class="p-3" src="{{popular.image1_source_url}}">
            <p class="text-center"><strong>{{popular.friendly_name}}</strong></p>
        </div>
        {% endfor %}
    </div>
    {% endif %}
</div>

{% endblock content %}