{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid border" style="margin-top: 80px;">
    <div class="row">
        <div class="col-md-3 order-md-first border border-dark p-3">
            <h5 class="text-center">Filter</h5>

            <!-- availability filter -->
            <div>
                <button class="btn w-100" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample"
                    aria-expanded="false" aria-controls="collapseExample">
                    Availability
                </button>
                <div class="collapse" id="collapseExample">
                    <ul class="list-group">
                        <a href="{% url 'products' %}?stock=in_stock">
                            <li class="list-group-item">In stock</li>
                        </a>
                        <a href="{% url 'products' %}?stock=out_of_stock">
                            <li class="list-group-item">Out of stock</li>
                        </a>
                        <a href="{% url 'products' %}?stock=returning_soon">
                            <li class="list-group-item">Returning soon</li>
                        </a>
                    </ul>
                </div>
            </div>
            <hr>

            <!-- plant category filter -->
            <div>
                <button class="btn w-100" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample2"
                    aria-expanded="false" aria-controls="collapseExample">
                    Plant Type
                </button>
                <div class="collapse" id="collapseExample2">
                    <ul class="list-group">
                        {% for plant_cat in plant_cats %}
                        <a href="{% url 'products' %}?plant_cats={{plant_cat.name}}">
                            <li class="list-group-item">{{plant_cat.name}}</li>
                        </a>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <hr>

            <!-- price filter -->
            <div>
                <button class="btn w-100" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample3"
                    aria-expanded="false" aria-controls="collapseExample">
                    Price
                </button>
                <div class="collapse" id="collapseExample3">
                    <ul class="list-group">
                        <a href="{% url 'products' %}?price=0,20">
                            <li class="list-group-item">£0 - £20</li>
                        </a>
                        <a href="{% url 'products' %}?price=20,30">
                            <li class="list-group-item">£20 - £30</li>
                        </a>
                        <a href="{% url 'products' %}?price=30,40">
                            <li class="list-group-item">£30 - £40</li>
                        </a>
                        <a href="{% url 'products' %}?price=40,50">
                            <li class="list-group-item">£40 - £50</li>
                        </a>
                        <a href="{% url 'products' %}?price=50">
                            <li class="list-group-item">> £50</li>
                        </a>
                    </ul>
                </div>
            </div>
            <hr>
        </div>
        <div class="col-md-9 border border-primary">
            
            <!-- number of products, products per page, sort  -->
            <div class="row">
                <div class="col p-2">
                    <p>&nbsp;&nbsp;{{all_products.count}} products <a href="{% url 'products' %}">(clear all
                            filters)</a></p>
                </div>
                <div class="col">
                    <p>Products per page</p>
                    <p>10  20  50  100</p>
                </div>
                <div class="col p-2 d-flex justify-content-end">
                    <p>SORT</p>
                    <div class="dropdown">
                        <a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Dropdown link
                        </a>

                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <li><a class="dropdown-item" href="{% url 'products' %}?sort=price&direction=asc">Price
                                    (low-high)</a></li>
                            <li><a class="dropdown-item" href="{% url 'products' %}?sort=price&direction=desc">Price
                                    (high-low)</a></li>
                            <li><a class="dropdown-item"
                                    href="{% url 'products' %}?sort=average_rating&direction=asc">Rating (low-high)</a>
                            </li>
                            <li><a class="dropdown-item"
                                    href="{% url 'products' %}?sort=average_rating&direction=desc">Rating (high-low)</a>
                            </li>
                            <li><a class="dropdown-item" href="{% url 'products' %}?sort=name&direction=asc">Name
                                    (A-Z)</a></li>
                            <li><a class="dropdown-item" href="{% url 'products' %}?sort=name&direction=desc">Name
                                    (Z-A)</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for product in page_obj %}

                <div class="col-sm-6 col-lg-4 d-flex justify-content-center">
                    <div class="card text-center border-0 py-3" style="width: 20rem;">
                        {% if product.stock == 'out of stock' %}
                        <a href="{% url 'product_detail' product.id %}">
                            <div>
                                <p id="oos-image-banner">Out of stock</p>
                                <img src="{{product.image1_source_url}}" id="product-out-of-stock"
                                    class="card-img-top rounded-0" alt="{{product.friendly_name}} product image">
                            </div>
                        </a>
                        <div class="card-body">
                            <a href="{% url 'product_detail' product.id %}">
                                <h5 class="card-title">{{product.friendly_name|upper}}</h5>
                            </a>
                            <p><em><small>{{product.latin_name}}</small></em></p>
                            <p class="card-text">£{{product.price}}</p>
                        </div>

                        {% else %}
                        <a href="{% url 'product_detail' product.id %}"><img src="{{product.image1_source_url}}"
                                class="card-img-top rounded-0" alt="{{product.friendly_name}} product image"></a>
                        <div class="card-body">
                            <a href="{% url 'product_detail' product.id %}">
                                <h5 class="card-title">{{product.friendly_name|upper}}</h5>
                            </a>
                            {% if product.latin_name %}
                            <p><em><small>{{product.latin_name}}</small></em></p>
                            {% else %}
                            {% endif %}
                            <p class="card-text">£{{product.price}}</p>
                        </div>
                        {% endif %}
                    </div>
                </div>

                {% endfor %}
            </div>

            <div class="pagination">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                    {% endif %}

                    <span class="current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>

                    {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </span>
            </div>
        </div>
    </div>
</div>


{% endblock %}