<div class="toast show" role="alert" aria-live="assertive" aria-atomic="true" data-bs-animation="true">
  <div class="container">
    <div class="toast-header">
      <p><em>{{message}}</em></p>
      <p>{{message.tags}}</p>
      {% for product in all_products %}
      {% if product.name in message.tags %}

      <form class="form" action="{% url 'add_to_bag' product.id %}" method="POST">
        {% csrf_token %}
        <input type="hidden" value=1 name="quantity">
        <input type="hidden" name="redirect_url" value="{{request.path}}">
        <p>Didn't mean to remove this item?</p>
        <button type="submit">Undo</button>
      </form>

      {% else %}
      {% endif %}
      {% endfor %}

      <button type="button" class="btn-close" data-bs-dismiss="toast hide" aria-label="Close"></button>
    </div>

    {% if product_count == 0 %}
    {% else %}
    <div class="toast-body">
      <strong class="me-auto"><a href="{% url 'view_bag' %}">Your basket</a></strong>
    </div>

    <!-- list bag items -->
    {% for item in bag_items %}
    <div class="row p-3">
      <div class="col-4">
        <img style="height: 90px; width: 90px;" src="{{item.product.image1_source_url}}">
      </div>
      <div class="col-6">
        <p>{{item.product.friendly_name}}<br>
          <em>{{item.product.latin_name}}</em><br>
          quantity: {{item.quantity}}</p>
        <br>
        <br>
        <p><strong>£{{item.product_subtotal}}</strong></p>
      </div>
      <div class="col-2">
        <a href="{% url 'delete_bag' item.product.id %}"><i class="fa-solid fa-trash-can"></i></a>
      </div>
    </div>
    <hr class="toast-hr">
    {% endfor %}

    <!-- totals and link to payment -->
    <div class="row p-3 fw-bold">
      <table class="table table-borderless">
        <tbody>

          <!-- if delivery is 0 -->
          {% if delivery == 0 %}
          <tr>
            <td>Delivery:
            </td>
            <td class="text-end text-decoration-line-through">
              £{{standard_delivery}}
            </td>
          </tr>
          <tr>
            <td class="text-end">You qualify for free delivery!</td>
            <td class="text-end">£{{delivery}}</td>
          </tr>
          <tr>
            <td>Total:</td>
            <td class="text-end">£{{grand_total}}</td>
          </tr>

          <!-- if delivery is standard 8.99 -->
          {% else %}
          <tr>
            <td>Delivery:
            </td>
            <td class="text-end">
              £{{delivery}}
            </td>
          </tr>
          <tr>
            <td>Total:</td>
            <td class="text-end">£{{grand_total}}</td>
          </tr>
          {% endif %}
        </tbody>
      </table>

    </div>

    <div class="row text-center p-3">
      <button class="btn">View basket</button>
    </div>

    <div class="row text-center p-3">
      <button class="btn">Secure Checkout</button>
    </div>

    {% endif %}
  </div>
</div>